nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle[type="button"]
        span.sr-only
          | Toggle navigation
        span.icon-bar.bar1
        span.icon-bar.bar2
        span.icon-bar.bar3
      span.navbar-brand= content_for(:lk_title_page)
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if policy(:session).logout?
          li
            = link_to logout_path, method: :delete do
              = t('logout')