.sidebar[data-background-color="white" data-active-color="danger"]
  .sidebar-wrapper
    .logo
      = link_to t('back_to_site'), root_path, class: 'simple-text'
    ul.nav
      = sidebar_active_link(lk_root_path) do
        i.ti-panel
        p= t('dashboard')

      = sidebar_active_link(lk_static_data_path) do
        i.ti-panel
        p= t('configuration')

      = sidebar_active_link(lk_gifts_path, 'lk/gifts') do
        i.ti-gift
        p= t('gifts')

      = sidebar_active_link(lk_users_path, 'lk/users') do
        i.ti-user
        p= t('users')

      = sidebar_active_link(lk_cities_path, 'lk/cities') do
        i.ti-home
        p= t('cities')
      = sidebar_active_link(lk_orders_path, 'lk/orders') do
        i.ti-clipboard
        p= t('orders')

      = sidebar_active_link(lk_gift_card_orders_path, 'lk/gift_card_orders') do
        i.ti-clipboard
        p= t('gift_card_orders')

      = sidebar_active_link(lk_callback_phones_path, 'lk/callback_phones') do
        i.ti-mobile
        p= t('callback_phones')

      = sidebar_active_link(lk_faqs_path, 'lk/faqs') do
        i.ti-help-alt
        p= t('faqs')

      = sidebar_active_link(lk_galleries_path, 'lk/galleries') do
        i.ti-gallery
        p= t('galleries')

    hr
    h5.logo = t('letter_generator')
    ul.nav
      = sidebar_active_link(lk_letter_image_templates_path, 'lk/letter_image_templates') do
        i.ti-gallery
        p= t('letter_image_templates')

      = sidebar_active_link(lk_letter_text_templates_path, 'lk/letter_text_templates') do
        i.ti-write
        p= t('letter_text_templates')

      = sidebar_active_link(lk_congratulations_path, 'lk/congratulations') do
        i.ti-layout-placeholder
        p= t('congratulations')

    hr
    h5.logo = t('ded_moroz_letters')
    ul.nav
      = sidebar_active_link(lk_letters_path, 'lk/letters') do
        i.ti-layout-placeholder
        p= t('letters')
