- content_for(:lk_title_page) { t('gift_card_orders') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('gift_card_orders')
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :fio_or_email_or_phone_cont, class: 'form-control border-input', placeholder: t('search_by_name_or_email_or_phone')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, GiftCardOrder.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :fio, GiftCardOrder.human_attribute_name(:fio), default_order: :asc)
              th= sort_link(@q, :email, GiftCardOrder.human_attribute_name(:email), default_order: :asc)
              th= sort_link(@q, :phone, GiftCardOrder.human_attribute_name(:phone), default_order: :asc)
              th= sort_link(@q, :created_at, GiftCardOrder.human_attribute_name(:created_at), default_order: :desc)
              th
          tbody
            - @gift_card_orders.each do |gift|
              tr
                td= gift.id
                td= gift.fio
                td= gift.email
                td= gift.phone
                td= l(gift.created_at, format: :short)
      .content
        .row
          .col-md-12.text-center
            = paginate @gift_card_orders