@font-face {
    font-family: OpenSans;
    src: local('Open Sans Light'), local('OpenSans-Light'), asset_url('os/opensanslight.woff2') format('woff2'), asset_url('os/opensanslight.woff') format('woff'), asset_url('os/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: OpenSansBold;
    src: asset_url('os/OpenSansBold.eot');
    src: asset_url('os/OpenSansBold.woff2') format('woff2'), asset_url('os/OpenSansBold.eot?#iefix') format('embedded-opentype'), asset_url('os/OpenSansBold.woff') format('woff'), asset_url('os/OpenSansBold.ttf') format('truetype'), asset_url('os/OpenSansBold.svg#OpenSans-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: openSansExtrabold;
    src: asset_url('os/openSansExtrabold.eot');
    src: asset_url('os/openSansExtrabold.woff2') format('woff2'), asset_url('os/openSansExtrabold.eot?#iefix') format('embedded-opentype'), asset_url('os/openSansExtrabold.woff') format('woff'), asset_url('os/openSansExtrabold.ttf') format('truetype'), asset_url('os/openSansExtrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ALSMalina;
    src: asset_url('ALSMalina/ALSMalina.eot');
    src: asset_url('ALSMalina/ALSMalina.woff2') format('woff2'), asset_url('ALSMalina/ALSMalina.woff') format('woff'), asset_url('ALSMalina/ALSMalina.ttf') format('truetype'), asset_url('ALSMalina/ALSMalina.svg#ALSMalina') format('svg'), asset_url('ALSMalina/ALSMalina.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: ''}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir=rtl] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
html {
    font-size: 14px;
}
body {
    overflow-x: hidden;
    margin: 0;
    color: #2e2e2e;
    font-family: OpenSans;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
textarea {
    resize: none;
}
button, input, select {
    outline: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.main {
    background-color: #0095e0;
}
.nav-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-phone {
    font-size: 1rem;
    display: block;
    color: #fff;
    font-family: OpenSansBold;
    margin-top: 25px;
}
.header-phone:last-child {
    margin-top: 5px;
}
.main-content {
    padding: 40px 0 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.content-50 {
    width: 49%}
.main-first__girl {
    border: 15px #fff solid;
    width: 100%}
.main-titel {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: ALSMalina;
    text-align: center;
}
.main-text {
    color: #fff;
    text-align: center;
    font-family: OpenSans;
    font-size: 1.14286rem;
    margin: 40px 0;
    padding: 0 80px;
    position: relative;
}
.curve-arrow__header {
    position: absolute;
    top: 0;
    left: -75px;
    fill: #fff;
    -webkit-transform: rotate(205deg);
    -ms-transform: rotate(205deg);
    transform: rotate(205deg);
    height: 100px;
    width: auto;
}
.main-last {
    margin-top: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.btn-order__first {
    padding: 10px 40px;
    font-size: 1.14286rem;
    color: #111;
    background-color: #ffc900;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: openSansExtrabold;
    text-transform: uppercase;
    z-index: 10;
}
.btn-order__first:hover {
    background-color: #e6b500;
}
.main-price {
    margin-left: 20px;
    color: #fff;
    font-size: 2.85714rem;
    font-family: openSansExtrabold;
}
.main-price span {
    font-size: 1.42857rem;
    margin-left: -10px;
}
.nav-bar__menu {
    position: relative;
    z-index: 2000;
}
.fixe-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.fixe-container__action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.left-block {
    height: 100%;
    width: 100%;
    display: none;
}
.hamb-box {
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 2000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.hamb-box:hover {
    background-color: #005998;
}
.hamb-box:hover .hamb-inner {
    background-color: #fff;
}
.hamb-box:hover .hamb-inner:after, .hamb-box:hover .hamb-inner:before {
    background-color: #fff;
}
.hamb-inner {
    width: 25px;
    height: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #0095e0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.hamb-inner:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: 6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #0095e0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.hamb-inner:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: -6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #0095e0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.hamb-close .hamb-box {
    top: 5px;
    left: 21%}
.hamb-close .hamb-inner {
    background-color: transparent!important;
}
.hamb-close .hamb-inner:after {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
}
.hamb-close .hamb-inner:before {
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #005288;
    text-align: center;
    padding: 60px 20px 0;
}
.nav-container li {
    padding: 15px 0;
}
.nav-container li a {
    padding: 10px 30px;
    color: #fff;
    font-size: 1.42857rem;
    font-family: OpenSans;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nav-container li a:hover {
    background-color: #005998;
}
.nav-container__activ {
    display: block;
}
.text-center {
    text-align: center;
}
.main-img {
    width: 90%}
.works {
    background-color: #f4f4f4;
}
.issues, .works {
    padding: 90px 0;
}
.works-title {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.14286rem;
    font-family: ALSMalina;
}
.works-continer {
    margin-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.works-element {
    width: 25%;
    text-align: center;
}
.works-element__text {
    color: #2e2e2e;
    font-family: OpenSans;
    margin-top: 20px;
    padding: 0 30px;
}
.icon-right-chevron {
    display: none;
    margin-top: -2px;
    width: 15px;
    height: 18px;
    fill: #fff;
}
.additional-gifts, .cost {
    padding: 90px 0;
}
.additional-gifts {
    background-color: #0095e0;
}
.gifts-title {
    text-align: center;
    color: #fff;
    font-size: 2.14286rem;
    font-family: ALSMalina;
}
.additional-gifts__continer {
    margin-top: 40px;
}
.additional-gifts__slid {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.additional-gifts__element {
    width: 24%;
    margin-right: 10px;
    text-align: center;
    background-color: #fff;
}
.additional-gifts__hit {
    padding: 10px 40px;
    background-color: #f9f9f9;
    font-family: OpenSansB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.additional-gifts__hit-text {
    line-height: 1.5;
    font-family: OpenSans;
    font-size: 1rem;
}
.additional-gifts__hit-price {
    margin-top: 15px;
    font-family: OpenSansBold;
}
.btn-slider {
    display: block;
    padding: 15px;
    text-align: center;
    background-color: #ffc900;
    color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 1.28571rem;
    font-weight: 900;
    font-family: OpenSans;
}
.btn-slider:hover {
    background-color: #e6b500;
}
.btn-slider span {
    font-weight: 400;
    padding-left: 5px;
}
.email {
    padding: 90px 0 0;
}
.email-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.email-block__40 {
    width: 45%;
    text-align: center;
}
.email-block__title {
    font-size: 2.14286rem;
    padding: 0 40px;
    font-family: ALSMalina;
}
.email-block__text {
    margin-top: 20px;
    padding: 0 100px;
    line-height: 1.5;
}
.email-block__60 {
    width: 55%;
    text-align: center;
}
.email-block__60 img {
    width: 90%}
.additional-gifts__hit {
    color: #143e56;
}
.additional-gifts__img {
    width: 90%;
    margin: 10px auto;
}
.additional-gifts__img img {
    width: 100%}
.arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    z-index: 20;
}
.icon-back, .icon-next {
    width: 50px;
    height: 80px;
    fill: #fff;
    cursor: pointer;
}
.icon-back:hover, .icon-next:hover {
    width: 55px;
    height: 85px;
}
.arrow__left {
    left: -60px;
}
.arrow__right {
    right: -50px;
}
.issues-continer {
    width: 60%;
    margin: 30px auto;
}
.issues-accordion__title {
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    font-family: OpenSans;
}
.issues-accordion__pluse {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.issues-accordion__pluse:hover .icon-faq {
    fill: #0095e0;
}
.cost-continer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cost-elment {
    color: #323232;
    position: relative;
    margin-top: 30px;
}
.cost-elment__bg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: asset-url('img/works/price.png') no-repeat center;
    width: 200px;
    height: 200px;
}
.cost-elment__bg:hover {
    -webkit-animation: solaranim 2.3s linear infinite;
    animation: solaranim 2.3s linear infinite;
}
@-webkit-keyframes solaranim {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
15% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
45% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}@keyframes solaranim {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
15% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
45% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}.curve-arrow__cost {
    position: absolute;
    top: -10px;
    left: -230px;
    height: 100px;
    fill: #2e2e2e;
    width: auto;
    -webkit-transform: rotate(205deg);
    -ms-transform: rotate(205deg);
    transform: rotate(205deg);
}
.cost-elment__price {
    font-size: 3.42857rem;
    font-family: OpenSansBold;
}
.cost-elment__currency {
    text-align: center;
    display: block;
    font-size: 1.28571rem;
    font-family: OpenSansBold;
}
.icon-faq {
    fill: #323232;
    width: 15px;
    height: 15px;
}
.issues-accordion {
    padding-bottom: 20px;
}
.issues-accordion:last-child {
    border-bottom: 0;
}
.issues-accordion__text {
    margin-top: 20px;
    font-size: 1.14286rem;
    line-height: 1.3;
    font-family: OpenSans;
    display: none;
}
.issues-accordion__text p {
    margin-bottom: 10px;
}
.issues-title {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.14286rem;
    font-family: ALSMalina;
}
.active-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.first-anim, .last-anim, .second-anim {
    visibility: hidden;
}
.order-scroll__style {
    padding: 120px 0 170px;
}
.order {
    text-align: center;
}
.btn-order {
    padding: 45px 115px;
    font-family: openSansExtrabold;
    font-size: 2.5rem;
    background-color: #ffc900;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    -webkit-box-shadow: 0 6px 18px 0 rgba(4, 4, 4, .16);
    box-shadow: 0 6px 18px 0 rgba(4, 4, 4, .16);
}
.btn-order:hover {
    background-color: #e6b500;
}
.delivery {
    background-color: #0095e0;
}
.delivery-container {
    background: asset-url('img/works/RF.png') no-repeat center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: #fff;
}
.delivery-container__title {
    font-family: OpenSansBold;
    font-size: 1.71429rem;
    text-align: center;
    margin-top: 100px;
}
.delivery-container__advantage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
    margin: 65px auto 100px;
}
.delivery-container__advantage span {
    font-family: OpenSansBold;
}
.delivery-advantage__point--number {
    font-family: OpenSansBold;
    font-size: 5rem;
}
.delivery-advantage__period {
    text-align: center;
}
.delivery-advantage__period--day {
    font-family: OpenSansBold;
    font-size: 5rem;
    position: relative;
}
.delivery-advantage__sup {
    position: absolute;
    top: 20px;
    right: -40px;
    font-family: OpenSans;
    font-size: 1.42857rem;
}
.delivery-advantage__period--text {
    font-family: OpenSansBold;
}
.team {
    padding-bottom: 80px;
}
.team-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.team-img {
    width: 30%;
    -webkit-box-shadow: 0 1px 30px 0 rgba(50, 50, 50, .55);
    box-shadow: 0 1px 30px 0 rgba(50, 50, 50, .55);
    text-align: center;
    padding: 20px 20px 90px;
    margin-right: 40px;
}
.team-img img {
    width: 100%}
.team-description {
    width: 50%;
    position: relative;
}
.team-description__title {
    font-family: ALSMalina;
    font-size: 2.14286rem;
}
.team-description__text {
    font-family: OpenSans;
    font-size: 1.28571rem;
    margin-top: 20px;
    padding-right: 100px;
}
.icon-quotes {
    position: absolute;
    top: 30px;
    left: 0;
    fill: #cdcdcd;
    width: 120px;
    height: 120px;
    z-index: -10;
}
.merit {
    padding-bottom: 40px;
}
.merit-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.merit-hr {
    width: 30%;
    height: 5px;
    background-color: #585858;
    margin-left: 10%;
    margin-right: 40px;
}
.merit-titel {
    text-transform: uppercase;
    font-family: ALSMalina;
    font-size: 2.57143rem;
}
.merit-titel span {
    display: block;
}
.gallery-container {
    position: relative;
}
.gallery-elements {
    width: 94%;
    margin: 0 auto 40px;
}
.gallery-element {
    margin: 0 5px;
}
.gallery-element img {
    width: 100%;
    height: auto;
}
.gallery-element:last-child {
    margin-right: 0;
}
.icon-gallery-back, .icon-gallery-next {
    width: 40px;
    height: 60px;
    fill: #0095e0;
}
.icon-gallery-back:hover, .icon-gallery-next:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.arrow__gallery-next {
    right: -5px;
    cursor: pointer;
}
.arrow__gallery-back {
    left: -5px;
    cursor: pointer;
}
@-webkit-keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}@keyframes fadeIn {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeftBig {
    from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}@keyframes fadeInLeftBig {
    from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.animated-men {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.color-text {
    color: #0095e0;
}
.page-404 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.page-404__main {
    width: 100%;
    padding: 50px 0 20px;
}
.title-404 {
    text-align: center;
}
.page-404__content {
    text-align: center;
}
.page-404__title {
    font-size: 1.71429rem;
    font-family: OpenSans;
    color: #787878;
}
.page-404__img {
    margin-top: 100px;
    text-align: center;
}
.page-404__img {
    position: relative;
    margin-bottom: -40px;
    z-index: 20;
}
.footer-nav {
    padding-top: 40px;
}
.footer-index {
    color: #fff;
    font-size: 1.71429rem;
    font-family: OpenSans;
    padding: 15px 35px;
    background-color: #ffb72a;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
}
.footer-nav__img {
    margin-left: -70px;
    margin-right: 30px;
    margin-top: -10px;
}
.page-text, .page-title {
    font-family: OpenSans;
    color: #787878;
}
.page-title {
    font-weight: 900;
    font-size: 1.71429rem;
}
.page-text {
    font-size: 1.42857rem;
    margin-top: 20px;
}
.footer {
    background: asset-url('img/bg/footer.png') no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100px;
    margin-top: -50px;
}
.footer-bg {
    background-color: #005288;
    margin-top: -3px;
    padding-top: 3px;
}
.footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-contacts {
    padding: 30px 0;
}
.footer-phone {
    font-size: 1.42857rem;
    display: block;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 10px;
}
.footer-phone:last-child {
    margin-top: 5px;
}
.footer-cconfidentially {
    font-size: 1.28571rem;
    color: rgba(255, 255, 255, .9);
}
.footer-socials {
    padding-top: 30px;
}
.footer-social {
    display: inline-block;
    margin-right: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.footer-social:last-child {
    margin: 0;
}
.footer-social:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.footer-email {
    text-align: center;
    margin-top: 20px;
    font-size: 1.28571rem;
    color: rgba(255, 255, 255, .9);
}
@media only screen and (max-width:1200px) {
    .container {
    width: 992px;
}
}@media only screen and (max-width:992px) {
    .container {
    width: 768px;
}
.curve-arrow__header {
    top: 30px;
    left: -130px;
    -webkit-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    transform: rotate(220deg);
}
.icon-gallery-back, .icon-gallery-next {
    width: 30px;
    height: 40px;
}
}@media only screen and (max-width:768px) {
    html {
    font-size: 13px;
}
.container {
    width: 95%}
.text-center {
    margin-bottom: 20px;
}
.nav-container {
    width: 35%}
.hamb-close .hamb-box {
    left: 37%}
.nav-container {
    padding: 30px 10px 0;
}
.content-50 {
    width: 100%}
.curve-arrow__header {
    top: 0;
    left: -90px;
}
.issues, .works {
    padding: 40px 0;
}
.works-element__text {
    padding: 0;
}
.email-block__40, .email-block__60 {
    width: 100%}
.email-block__60 {
    text-align: center;
    margin-top: 20px;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.order-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.email {
    padding: 40px 0 0;
}
.additional-gifts__hit {
    padding: 0;
    font-size: .92857rem;
}
.btn-slider {
    padding: 10px 0;
    font-size: .92857rem;
}
.additional-gifts__hit-price {
    line-height: 1;
}
.additional-gifts__hit-price {
    margin: 8px 0;
}
.team-img {
    width: 80%;
    margin: 0 auto 20px;
}
.team-description {
    width: 80%;
    margin: 0 auto;
}
.team-description__text {
    padding: 0;
}
.delivery-container {
    width: 80%}
.footer-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer-socials {
    margin-bottom: 20px;
}
.main-content {
    padding: 40px 0;
}
.additional-gifts, .cost {
    padding: 40px 0;
}
.footer-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.merit {
    padding-bottom: 40px;
}
.gallery-elements {
    width: 90%}
.icon-gallery-back, .icon-gallery-next {
    width: 20px;
    height: 30px;
}
}@media only screen and (max-width:480px) {
    html {
    font-size: 12px;
}
.container {
    width: 97%}
.main-text {
    padding: 0;
    margin: 20px 0;
}
.curve-arrow__header {
    top: -10px;
    left: -125px;
}
.works-element {
    width: 100%;
    margin-bottom: 20px;
}
.issues, .works {
    padding: 20px 0;
}
.email-block__text {
    padding: 0;
}
.email-block__title {
    padding: 0;
}
.additional-gifts, .cost {
    padding: 20px 0;
}
.curve-arrow__cost {
    top: -40px;
    left: -170px;
}
.issues-accordion__pluse {
    top: 10px;
}
.icon-back, .icon-next {
    width: 30px;
    height: 50px;
}
.icon-back:hover, .icon-next:hover {
    width: 35px;
    height: 55px;
}
.arrow__right {
    right: -30px;
}
.arrow__left {
    left: -40px;
}
.issues-continer {
    width: 70%}
.icon-quotes {
    top: 90px;
}
.delivery-container {
    width: 100%}
.delivery-advantage__sup {
    right: -30px;
}
.btn-order {
    padding: 30px 60px;
}
.footer-contacts {
    padding: 10px 0;
}
.footer-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.img-404 {
    width: 80%}
.page-404__img {
    margin-bottom: 0;
}
.nav-container {
    width: 40%}
.hamb-close .hamb-box {
    left: 42%}
.nav-container li a {
    padding: 10px 20px;
}
}

.message-blok {
  padding: 80px 0
}
@media only screen and (max-width : 768px){
  .message-blok {
    padding: 30px 0
  }
}
