.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: ''}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir=rtl] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
html {
    font-size: 14px;
}
body {
    overflow-x: hidden;
    margin: 0;
    color: #2e2e2e;
    font-family: OpenSans;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
button, input, select, textarea {
    outline: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.nav-bar__phone {
    position: relative;
}
.header-phone {
    font-size: 1rem;
    display: block;
    color: #fff;
    font-family: OpenSansBold;
    margin-top: 25px;
}
.header-phone:last-child {
    margin-top: 5px;
}
.order-buttom__header {
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    fill: #111;
    cursor: pointer;
}
.bottom-buttom {
    position: absolute;
    top: 25px;
    right: -25px;
    width: 20px;
    height: 20px;
    fill: #fff;
    cursor: pointer;
}
.bottom-butto__active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.nav-bar__form {
    position: absolute;
    top: 50px;
    right: -25px;
    width: 250px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 30px 20px 30px;
    text-align: center;
    -webkit-box-shadow: 0 6px 18px 0 rgba(4, 4, 4, .16);
    box-shadow: 0 6px 18px 0 rgba(4, 4, 4, .16);
    display: none;
}
.nav-bar__form-active {
    display: block;
}
.form-name, .form-phone {
    padding: 5px 10px;
    font-size: 1.14286rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    width: 100%;
    color: #2e2e2e;
}
.form-phone {
    margin-top: 20px;
}
.nav-form__submit {
    display: block;
    margin-top: 35px;
}
.btn-submit, .btn-submit__close {
    padding: 10px 40px;
    font-size: 1.14286rem;
    color: #111;
    background-color: #ffc900;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: openSansExtrabold;
    text-transform: uppercase;
    z-index: 10;
}
.btn-submit:hover, .btn-submit__close:hover {
    background-color: #e6b500;
}
.much-thank {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, .4);
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 200;
}
.much-thank__active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.much-thank__container {
    display: block;
    text-align: center;
    width: 300px;
    padding: 20px 20px 30px;
    background-color: #fff;
}
.much-thank__block {
    display: block;
    margin-top: 25px;
}
/*order*/ 
.error-messege__border {
    border: 1px solid #ff1370!important;
}
.messege-error {
    margin-bottom: 20px;
    font-size: 1.42857rem;
    font-family: OpenSansBold;
    color: #ff1370;
    display: block;
}
.order-menu {
    background-color: #fffcf4;
}
.order-nav {
    padding-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.order-nav .header-phone {
    color: #2e2e2e;
    margin-top: 0;
    margin-left: 20px;
}
.btn-main {
    position: fixed;
    top: 10px;
    left: 0;
    width: 30px;
    height: 26px;
    background-color: #ffc900;
    cursor: pointer;
    z-index: 20;
}
.btn-main:hover {
    background-color: #e6b500;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.icon-main {
    margin-top: 3px;
    width: 20px;
    height: 20px;
    fill: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.order-nav__container {
    width: 80%}
.tabs-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #bcacac;
}
.tabs-list li {
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.tabs-list li:hover {
    color: #0095e0;
}
.active {
    color: #0095e0;
}
.tabs-content {
    display: none;
}
.active-container {
    display: block;
}
.container-tabs {
    padding: 30px 0;
}
.order-lists__title {
    font-size: 1.28571rem;
    font-family: OpenSansBold;
}
.load-stripe {
    margin-top: 30px;
    width: 100%;
    height: 3px;
    background-color: #f0f0f0;
    position: relative;
}
.load-stripe__loding {
    width: 11%;
    height: 3px;
    background-color: #0095e0;
}
.load-stripe__snowflake {
    position: absolute;
    left: 11%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-color: #0095e0;
    -webkit-border-radius: 100%;
    border-radius: 100%}
.icon-snowflake {
    position: absolute;
    fill: #fff;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
}
.price-block {
    display: inline-block;
    margin-left: 20px;
    padding: 7px 10px;
    color: rgba(0, 0, 0, .6);
    background-color: #e8e8e8;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.checkbox {
    position: relative;
    width: 100%;
    padding-left: 30px;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked~.checkbox-custom:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: asset-url('img/svg/check-bg.svg') no-repeat center;
    -webkit-background-size: 12px 12px;
    background-size: 12px;
}
.checkbox {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}
.checkbox:hover .checkbox-custom {
    border-color: rgba(88, 88, 88, .4);
}
.checkbox-custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #d4d4d5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.disabled-text {
    color: #a8a6a1;
}
.order-lists__element {
    position: relative;
    margin-top: 13px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 70%}
.order-lists__element:hover .order-lists__element-img {
    display: block;
}
.order-lists__element-img {
    position: absolute;
    bottom: 35px;
    left: 20px;
    width: 140px;
    height: 110px;
    background-color: #fff;
    -webkit-box-shadow: 2px 4px 17px 0 rgba(0, 0, 0, .75);
    box-shadow: 2px 4px 17px 0 rgba(0, 0, 0, .75);
    display: none;
}
.order-lists__element-img:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}
.order-lists__element-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.order-summ__element {
    font-family: OpenSansBold;
    padding: 40px 0 0;
}
.order-summ__botton {
    display: block;
    margin: 50px 0 70px;
}
.btn-summ__next {
    color: #fff;
    background-color: #0095e0;
    padding: 15px 60px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.28571rem;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.btn-summ__next:hover {
    background-color: #1678c2;
}
.btn-summ__back {
    color: #fff;
    background-color: #767676;
    padding: 15px 60px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.28571rem;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-right: 40px;
}
.btn-summ__back:hover {
    background-color: #838383;
}
.checks-elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.checkbox-element {
    margin: 20px 10px 0 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.checkbox-element .check-letter {
    display: none;
}
.checkbox-element .check-letter:checked~.custom-element .icon-boy, .checkbox-element .check-letter:checked~.custom-element .icon-boy_cant_read, .checkbox-element .check-letter:checked~.custom-element .icon-girl, .checkbox-element .check-letter:checked~.custom-element .icon-girl_cant_read, .checkbox-element .check-letter:checked~.custom-element .icon-group, .checkbox-element .check-letter:checked~.custom-element .icon-man, .checkbox-element .check-letter:checked~.custom-element .icon-woman {
    fill: transparent;
}
.checkbox-element .check-letter:checked~.custom-element:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: asset-url('img/svg/tick.svg') no-repeat center;
    -webkit-background-size: 70px 70px;
    background-size: 70px;
}
.custom-element {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
}
.icon-boy, .icon-boy_cant_read, .icon-girl, .icon-girl_cant_read, .icon-group, .icon-man, .icon-woman {
    width: 70px;
    height: 70px;
    fill: #fff;
}
.checks-elements__pink {
    background-color: #f56b98;
}
.checks-elements__blue {
    background-color: #5ac9e5;
}
.checks-elements__blues {
    background-color: #5a9fe5;
}
.checks-elements__red {
    background-color: #e55c79;
}
.checks-elements__fiol {
    background-color: #5a61e5;
}
.checks-elements__maroon {
    background-color: #ea3f64;
}
.checks-elements__yellow {
    background-color: #f0b924;
}
.custom-title {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 8px;
    right: 8px;
}
.lists__titel {
    margin: 20px 0 30px;
}
.order-list__fio, .order-list__location, .order-list__name, .order-list__phone {
    width: 30%;
    padding: 10px 20px;
    font-size: 1.14286rem;
    color: #2e2e2e;
    border: 1px solid #bcacac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fffcf4;
    font-family: OpenSans;
}
.order-list__fio:hover, .order-list__location:hover, .order-list__name:hover, .order-list__phone:hover {
    border: 1px #585858 solid;
}
textarea {
    width: 30%;
    height: 150px;
    padding: 10px 20px;
    font-size: 1.14286rem;
    color: #2e2e2e;
    border: 1px solid #bcacac;
    font-family: OpenSans;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fffcf4;
}
textarea:hover {
    border: 1px #585858 solid;
}
.link-container {
    display: inline-block;
    margin-left: 40px;
}
.link-location {
    text-decoration: underline;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.link-location:hover {
    color: #0095e0;
}
.link-new__region {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.link-new__region:hover {
    color: #0095e0;
    text-decoration: underline;
}
.delivery-radio, .location-delivery-radio {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
}
.delivery-radio .delivery-content, .delivery-radio .location-delivery-content, .location-delivery-radio .delivery-content, .location-delivery-radio .location-delivery-content {
    display: none;
}
.delivery-radio .delivery-content:checked~.delivery-custom:after, .delivery-radio .delivery-content:checked~.location-delivery-custom:after, .delivery-radio .location-delivery-content:checked~.delivery-custom:after, .delivery-radio .location-delivery-content:checked~.location-delivery-custom:after, .location-delivery-radio .delivery-content:checked~.delivery-custom:after, .location-delivery-radio .delivery-content:checked~.location-delivery-custom:after, .location-delivery-radio .location-delivery-content:checked~.delivery-custom:after, .location-delivery-radio .location-delivery-content:checked~.location-delivery-custom:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #2e2e2e;
}
.delivery-custom, .location-delivery-custom {
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #0095e0;
    -webkit-border-radius: 100%;
    border-radius: 100%}
.delivery-block {
    margin-top: 20px;
}
.delivery-block__container {
    margin: 20px 0 0;
    display: none;
}
.popup {
    position: relative;
}
.location-popup {
    position: fixed;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, .6);
    z-index: 10;
    display: none;
}
.location-popup-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.location-container {
    width: 70%;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}
.location-container__title {
    padding: 15px 40px;
    font-family: OpenSansBold;
    font-size: 1.42857rem;
}
.icon-cance {
    position: absolute;
    cursor: pointer;
    top: -22px;
    right: -22px;
    width: 20px;
    height: 20px;
    fill: #fff;
}
.icon-cance:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.location-container__block {
    margin-top: 20px;
    margin-left: 20px;
}
.location-container__block:last-child {
    margin-bottom: 25px;
}
.addres-pickup__style {
    margin-left: 30px;
    width: 50%;
    padding: 5px 20px;
    font-size: 1.14286rem;
    color: #2e2e2e;
    border: 1px solid #bcacac;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fffcf4;
    font-family: OpenSans;
}
.addres-pickup__style:hover {
    border: 1px #585858 solid;
}
.delivery-block__container textarea {
    margin-left: 30px;
}
.location-container__cities {
    max-height: 400px;
    overflow-y: scroll;
}
.delivery-bottom__last {
    margin: 20px 0;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.btn-delivery__last {
    background-color: #21ba45;
    padding: 10px 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: 800;
}
.footer {
    background: asset-url('img/bg/footer.png') no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100px;
    margin-top: -50px;
}
/* footer*/
.footer-bg {
    background-color: #005288;
    margin-top: -3px;
    padding-top: 3px;
}
.footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-contacts {
    padding: 30px 0;
}
.footer-phone {
    font-size: 1.42857rem;
    display: block;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 10px;
}
.footer-phone:last-child {
    margin-top: 5px;
}
.footer-cconfidentially {
    font-size: 1.28571rem;
    color: rgba(255, 255, 255, .9);
}
.footer-cconfidentially span {
    margin-left: 10px;
}
.footer-socials {
    padding-top: 30px;
}
.footer-social {
    display: inline-block;
    margin-right: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.footer-social:last-child {
    margin: 0;
}
.footer-social:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.footer-email {
    text-align: center;
    margin-top: 20px;
    font-size: 1.28571rem;
    color: rgba(255, 255, 255, .9);
}
.btn-delivery__last{
background-color:#21ba45;padding:10px 30px;
-webkit-border-radius:3px;
border-radius:3px;
color:#fff;
font-weight:800;
cursor:pointer;
border: 0;
}
.btn-delivery__last:hover{
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
border-color:#34c924
}