a id="main"

.village
  .ui.container
    .ui.large.secondary.inverted.menu
      #left-sidebar.item
        button.circular.ui.icon.button.inverted
          i.sidebar.icon

      .right.item.text.thin
        p
          | МСК: +7(495) 125-10-69
          br
          | СПб: +7(911) 924-21-63

    .ui.middle.aligned.stackable.grid.landing_block
      .row
        .eight.wide.column
          = image_tag("girl.png", class: "ui bordered_image image")

        .eight.wide.column
          h1.white.santa_header.big Письмо от Деда Мороза с сургутной печатью

          p.white.text.thin Сделайте новогоднюю ночь 2017 незабываемой, оставив на память необыновенный подарок!

          .ui.grid.middle.aligned.centered
            .row
              .eight.wide.column
                = link_to new_order_path do
                  button.ui.button.red.circle_button
                    p.white.text.thin = "Заказать письмо"
              .eight.wide.column.main_price.white = "390 руб."


.landing_block

  h2.blue.santa_header.big.centered Как это работает?

  .ui.stackable.grid.center.aligned.three.column.container
    .column
      = image_tag("santa_mini.png", class: "ui image step_image")

      h3.step_header Выберите открытку

      p.grey
        | Они все очень приятные и
        br
        | 100% переработанные

    .column
      = image_tag("message.png", class: "ui image step_image")

      h3.step_header Введите сообщение

      p.grey Текст будет рукописным

    .column
      = image_tag("sani.png", class: "ui image step_image")

      h3.step_header Отправляем по почте

      p.grey
        | Распечатаем, упакуем в конверт и
        br
        | отправим получателям


.snow
  .ui.middle.aligned.stackable.grid.container.landing_block
    .row
      .eight.wide.column
        h2.white.santa_header.big Здесь нет электронных писем

        p.white.text.thin
          | Каждое письмо индивидуально
          br
          | От Вас требуется краткая информация, которую вы хотели бы включить в текст

      .eight.wide.column
        = image_tag("not_electronic_mail.jpg", class: "ui image_on_landing image")



.ui.middle.aligned.stackable.grid.container.landing_block
  .row
    .eight.wide.column
      = image_tag("individual_conver.jpg", class: "ui image_on_landing image")

    .eight.wide.column
      h2.blue.santa_header.big Индивидуальный конверт

      p.grey.text.thin
        | Товарищи! рамки и место обучения кадров позволяет решать важные задания по разработке модели развития. Разнообразный и богатый опыт консультации с широким активом обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.



.stars
  .ui.middle.aligned.stackable.grid.container.landing_block
    .row
      .eight.wide.column
        h2.white.santa_header.big Магия в деталях

        p.white.text.thin
          | Настоящие марки, крафтовый конверт и большая, яркая сургучная печать

      .eight.wide.column
        = image_tag("magin_in_details.jpg", class: "ui image image_on_landing")

a id="paid"

.landing_block

  h2.blue.santa_header.big.centered Отличные цены

  .ui.grid.center.aligned.three.column.container

    .column.column_price
      .blue.number
        | 590
    .column.bordered_price.column_price
      .blue.number
        | 490
    .column.column_price
      .blue.number
        | 390


.stars
  .ui.container.landing_block

    a id="presents"

    h2.white.santa_header.big.centered Дополнительные подарки

    #carousel
      .next_arrow
        i.angle.right.icon.huge

      .carousel
        = render partial: 'shared/present', collection: @gifts_on_root_page, as: :gift

      .prev_arrow
        i.angle.left.icon.huge


a id="delivery"

.ui.middle.aligned.stackable.grid.container.landing_block

  .row
    .eight.wide.column
      h2.blue.santa_header.big Доставка и самовывоз

      .ui.grid

        .row
          .ten.wide.column
            h3.blue.inline
              | Текущий регион&emsp;

            p.grey.text.thin.inline Санкт&#8209;Петербург

          .six.wide.column.right.aligned
            h4.blue Не Ваш регион?

        .row
          .eight.wide.column
            h2.blue Самовывоз

          .eight.wide.column.right.aligned
            h2.blue Бесплатно

        .row
          .sixteen.wide.column
            .ui.selection.dropdown.wide
              input type="hidden" name="place"

              i.icon.dropdown

              .default.text.thin м.Звездная

        .row
          .ten.wide.column
            h2.blue Доставка в пределах КАД
            p.grey Через 3 календарных дня после оформления (включая выходные)

          .six.wide.column.right.aligned
            h2.blue 350 руб.

        .row
          .ten.wide.column
            h2.blue Доставка за КАД
            p.grey Через 3 календарных дня после оформления

          .six.wide.column.right.aligned
            h2.blue 350 руб.
            p.text.thin +20 руб/км

    .eight.wide.column
      = image_tag("girl.png", class: "ui image_on_landing image")


a id="faq"

.deer
  .ui.container.landing_block

    h2.white.santa_header.big.centered Часто задаваемые вопросы

    .ui.stackable.grid.centered
      .row
        .twelve.wide.column
          - if @faqs.any?
            - @faqs.each do |faq|
              .ui.vertical.segment
                .ui.grid
                  .row
                    a.twelve.wide.column.get_answer data-id="#{faq.id}" href="#"
                      p.white.text.thin = faq.question

                    .four.wide.column.white.right.aligned
                      button.ui.circular.icon.button.inverted.get_answer id="button_#{faq.id}" data-id="#{faq.id}"
                        i.plus.icon.big
                br
                p.white.text.thin.answers id="answer_#{faq.id}"
                  = faq.answer


br

.ui.container
  #vk_comments

.ui.stackable.grid.centered.container.landing_block
  a id="order"
  .row
    .ten.wide.column.center.aligned

      = image_tag("letter.png", class: "ui step_image image")

      h2.blue.santa_header.big Закажите письмо

      p.grey.text.thin Почтой России, простым или заказным письмом (+100 руб.). Для получения заказного писмьа на почте необходим паспорт (и свидетельство о рождении, если писмьо адресовано несовершеннолетнему)

      = link_to new_order_path do
        button.ui.button.red.circle_button
          p.white.text.thin Заказать письмо
