.snowflake
  .letter_blue_bar
    h2.letter_header.white.centered Написать письмо деду морозу в великий устюг 2018

  #letter_envelope
    .ui.stackable.grid.container
      = image_tag('print.png', id: "top_mark")
      = image_tag('deer_mark.png', id: "bottom_mark")
      form.ui.form.row
        .six.wide.column

          .field
            input.rounded_border name="username" placeholder="Твое имя"

          .field
            .ui.dropdown.selection.search.rounded_border
              input name="age" type="hidden" value=""
              .default.text Твой возраст
              .menu
                - (1..100).to_a.each do |age|
                  .item data-value=age = age

          .field.letter_city
            select#letter_city_id placeholder="Твой город"

          .field
            input.rounded_border name="email" placeholder="E-mail"

          button.ui.button.red.red_button
            p.white.text ОТПРАВИТЬ

        .ten.wide.column
          .field.letter_border
            textarea.letter_text_area name="content" placeholder="Здравствуй, дорогой Дедушка Мороз!" type="text"

          br

          .ui.checkbox
            input checked="checked" name="public_agree" type="checkbox"
            label Разрешить опубликовать мое письмо на сайте


  .ui.container.grid.stackable
    .row
      .four.wide.column
        = image_tag("girl.png", class: "ui image")
        br
        = image_tag("girl.png", class: "ui image")

      .twelve.wide.column
        h3.letter_header.light_blue.centered письма, отправленные деду морозу

        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
        = render partial: 'shared/letter', locals: {age: 24, date: Time.now.strftime("%d.%m.%Y") , name: "Анастасия Иванова", city: "Москва", content: "Дорогой Дедушка Мороз! Я очень рад тому, что скоро Новый год и мы с мамой и папой будем наряжать елку. И я жду, что ты приедешь ко мне в гости! Спасибо!"}
