.ui.container.landing_block
  #tabs
    #tab_1.tab.display-show
      .ui.vertical.segment.segment_step
        h2.ui.header
          .thin = "Шаг №1 из 4"
          .sub.header = "Состав заказа"

      .ui.vertical.segment.segment_step
        .ui.form
          .grouped.fields
            h5 = "Состав заказа"
            .field
              .ui.checkbox.disabled.checkbox_order
                input checked="checked" name="step2" type="checkbox"
                label = "Once a week"
      
            .field
              .ui.checkbox.checkbox_order
                input name="step1" type="checkbox"
                label = "Once a week"

    #tab_2.tab
      .ui.vertical.segment.segment_step
        h2.ui.header
          .thin = "Шаг №2 из 4"

      .ui.vertical.segment.segment_step
        .ui.stackable.grid
          .row
            .five.wide.column
              h5 = "Для кого письмо"

            .eleven.wide.column
              .ui.form
                .grouped.fields
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Мальчик не умеет читать"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Девочка не умеет читать"
                  
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Группа людей"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Мальчик не умеет читать"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Девочка не умеет читать"
                  
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Группа людей"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Мальчик не умеет читать"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Девочка не умеет читать"
                  
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Группа людей"

          .row
            .five.wide.column
              h5 = "Имя того (или тех) кого поздравляем"

            .eleven.wide.column
              .ui.form
                .field
                  input name="person_name" type="text"

          .row
            .five.wide.column
              h5 = "Примечания к письму"

            .eleven.wide.column
              .ui.form
                .field
                  textarea name="note" placeholder="Заполнять по желанию" type="text"

          .row
            .five.wide.column
              h5 = "Адрес на конверте"

            .eleven.wide.column
              .ui.form
                .field
                  textarea name="address" placeholder="Заполнять по желанию" type="text"
    

    #tab_3.tab
      .ui.vertical.segment.segment_step
        h2.ui.header
          .thin = "Шаг №3 из 4"
          .sub.header = "Ваши контактные данные"

      .ui.vertical.segment.segment_step
        .ui.middle.aligned.stackable.grid
          .row
            .five.wide.column
              h5 = "Ваше имя"

            .eleven.wide.column
              .ui.form
                .field
                  input name="order_name" type="text"

          .row
            .five.wide.column
              h5 = "Телефон"

            .eleven.wide.column
              .ui.form
                .field
                  input id="tel" name="tel" type="text"

          .row
            .five.wide.column
              h5 = "E-mail"

            .eleven.wide.column
              .ui.form
                .field
                  input name="email" type="text"

    #tab_4.tab
      .ui.vertical.segment.segment_step
        h2.ui.header
          .thin = "Шаг №4 из 4"
          .sub.header = "Способ доставки"


      .ui.vertical.segment.segment_step.center.aligned
        .ui.stackable.grid.left.aligned
          .row
            .five.wide.column
              h5 = "Ваш город"

            .eleven.wide.column
              .ui.form
                .grouped.fields
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step4" type="radio"
                      label = "Санкт-Петербург"

                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Москва"
                  
                  .field
                    .ui.radio.checkbox.checkbox_order
                      input name="step2" type="radio"
                      label = "Другой (доставка 100-300 руб."
        br
        button.ui.green.button
          h4.thin = "Отправить"



  .ui.vertical.segment.segment_step
    .ui.stackable.grid
      .row
        .five.wide.column
          h5 = "Всего:"

        .eleven.wide.column
          h5 = "590 RUB"

  .ui.vertical.segment.segment_step
    button.ui.green.button.right.floated.tab.display-show id="next_tab" value="1"
      h4.thin = "Вперед"

    button.ui.green.button.left.floated.tab id="prev_tab" value="-1"
      h4.thin = "Назад"
