<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title"><%= t('configuration') %></h4>
          </div>
        </div>
      </div>

      <div class="content">
        <%= form_tag lk_static_data_path, method: :patch do %>
          <div class="form-group">
            <%= label_tag :email, t('email') %>
            <%= email_field_tag :email, @settings[:email], class: 'form-control border-input' %>
          </div>
          <div class="form-group">
            <%= label_tag :spb_phone, t('spb_phone') %>
            <%= text_field_tag :spb_phone, @settings[:spb_phone], class: 'form-control border-input' %>
          </div>
          <div class="form-group">
            <%= label_tag :msk_phone, t('msk_phone') %>
            <%= text_field_tag :msk_phone, @settings[:msk_phone], class: 'form-control border-input' %>
          </div>
          <div class="form-group">
            <%= submit_tag t('save'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>