@font-face {
  font-family: 'Lobster';
  src: asset_url('Lobster.eot');
  src: local('☺'), asset_url('Lobster.woff') format('woff'), asset_url('Lobster.ttf') format('truetype'), asset_url('Lobster.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('Open Sans Light'), local('OpenSans-Light'), asset_url('opensanslight.woff2') format('woff2'), asset_url('opensanslight.woff') format('woff'), asset_url('opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@import 'main';
@import "slick";