html {
  line-height: 1;
  font-size: 14px; }

body {
  overflow-x: hidden;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

textarea {
  resize: none; }

input,
select,
button {
  outline: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 1150px;
  margin: 0 auto; }

.btn-global__order {
  padding: 10px 20px;
  font-size: 1.57143rem;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-family: OpenSans; }

.main {
  background: image_url("bg/main-bg.png") 100% 100% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-phone {
  font-size: 1.42857rem;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 25px; }
  .header-phone:last-child {
    margin-top: 5px; }

.main-content {
  padding: 110px 0 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.content-50 {
  width: 49%; }

.main-first__girl {
  border: 15px #fff solid;
  width: 100%; }

.main-titel {
  color: #fff;
  font-size: 2.71429rem;
  font-family: Lobster;
  letter-spacing: 3px;
  line-height: 1.2; }

.main-text {
  color: #fff;
  font-size: 1.42857rem;
  display: block;
  margin-top: 15px;
  line-height: 1.5;
  font-family: OpenSans; }

.main-last {
  margin-top: 35px; }

.btn-order__first {
  padding: 10px 20px;
  font-size: 1.57143rem;
  color: #fff;
  background-color: #DB2828;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-family: OpenSans; }
  .btn-order__first:hover {
    background-color: #b21e1e; }

.main-price {
  margin-left: 120px;
  color: #fff;
  font-size: 2.28571rem;
  font-family: Lobster; }

.nav-bar__menu {
  position: relative; }

.hamb-box {
  width: 40px;
  height: 40px;
  background-color: #005288;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 2000;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .hamb-box:hover {
    background-color: #005998; }

.hamb-inner {
  width: 25px;
  height: 2px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .hamb-inner:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: 6px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ffffff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .hamb-inner:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: -6px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ffffff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

.nav-container {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #005288;
  text-align: center;
  padding: 60px 20px 0; }
  .nav-container li {
    padding: 15px 0; }
    .nav-container li a {
      padding: 10px 30px;
      color: #fff;
      font-size: 1.42857rem;
      font-family: OpenSans;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .nav-container li a:hover {
        background-color: #005998; }

.nav-container__activ {
  display: block;
  left: 0; }

.hamb-close .hamb-box {
  top: 5px;
  left: 21%; }

.hamb-close .hamb-inner {
  background-color: transparent; }
  .hamb-close .hamb-inner:after {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0; }
  .hamb-close .hamb-inner:before {
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.works, .issues {
  padding: 90px 0; }

.works-title {
  text-align: center;
  color: #143e56;
  font-size: 2.28571rem;
  font-family: Lobster; }

.works-continer {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.works-element {
  width: 25%;
  text-align: center; }

.works-element__titel {
  color: #6e6e6e;
  font-size: 1.42857rem;
  margin: 25px 0 15px; }

.works-element__text {
  color: #acacac;
  font-size: 1.14286rem;
  font-family: OpenSans; }

.emails {
  padding: 90px 0 0;
  background-color: #1f4566; }

.emails-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.email-66 {
  width: 60%; }

.email-title {
  font-size: 2.28571rem;
  font-family: Lobster;
  color: #fff;
  text-align: right;
  margin-top: 100px;
  padding-left: 200px;
  line-height: 1.2;
  margin-bottom: 20px; }

.email-text {
  text-align: right;
  padding-left: 200px;
  color: #fff;
  font-weight: 400;
  font-size: 1.28571rem;
  line-height: 1.3;
  font-family: OpenSans; }

.email-btn {
  margin-top: 50px;
  padding-left: 375px;
  margin-bottom: 200px; }

.btn-orange {
  color: #ffffff;
  background-color: #ffb733; }
  .btn-orange:hover {
    background-color: #ffa500; }
    .btn-orange:hover .icon-right-chevron {
      display: inline-block; }

.email-larg {
  margin: 50px -250px -40px 70px; }
  .email-larg img {
    width: 700px; }

.envelop {
  padding: 90px 0 0; }

.email-larg__left {
  margin: 70px 70px -70px -250px;
  z-index: 2; }
  .email-larg__left img {
    width: 700px;
    margin-top: 10px; }

.email-title__left {
  font-size: 2.28571rem;
  color: #143e56;
  margin-top: 100px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: Lobster; }

.email-text__left {
  color: #acacac;
  font-size: 1.28571rem;
  line-height: 1.3;
  font-family: OpenSans; }

.email-btn__left {
  margin-top: 50px;
  padding-left: 100px;
  margin-bottom: 160px; }

.first-anim img {
  margin-top: 20px; }

.btn-fiole {
  color: #ffffff;
  background-color: #e575d5; }
  .btn-fiole:hover {
    background-color: #DB3AC4; }
    .btn-fiole:hover .icon-right-chevron {
      display: inline-block; }

.icon-right-chevron {
  display: none;
  margin-top: -2px;
  width: 15px;
  height: 18px;
  fill: #fff; }

.btn-yellow {
  color: #ffffff;
  background-color: #9d7ddc; }
  .btn-yellow:hover {
    background-color: #8f6ad7; }
    .btn-yellow:hover .icon-right-chevron {
      display: inline-block; }

.cost, .additional-gifts {
  padding: 90px 0; }

.cost-continer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
  color: #143e56; }

.cost-element {
  width: 33.33%;
  text-align: center;
  font-size: 5.71429rem;
  border-right: 5px solid #143e56; }
  .cost-element:last-child {
    border-right: 0; }

.additional-gifts {
  background-color: #1f4566; }

.gifts-title {
  text-align: center;
  color: #fff;
  font-size: 2.28571rem;
  font-family: Lobster; }

.additional-gifts__continer {
  margin-top: 40px; }

.additional-gifts__slid {
  position: relative; }

.additional-gifts__element {
  width: 24%;
  margin-right: 10px;
  text-align: center;
  background-color: #fff; }

.additional-gifts__hit {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
  font-family: OpenSans; }

.btn-slider {
  display: block;
  padding: 25px;
  text-align: center;
  background-color: #3eb5f1;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 1.28571rem;
  font-weight: 900;
  font-family: OpenSans; }
  .btn-slider:hover {
    background-color: #0c73a6; }
  .btn-slider span {
    font-weight: normal;
    padding-left: 5px; }

.additional-gifts__hit {
  color: #143e56; }

.additional-gifts__img {
  width: 90%;
  margin: 0 auto; }
  .additional-gifts__img img {
    width: 100%; }

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  z-index: 20; }

.icon-next, .icon-back {
  width: 50px;
  height: 80px;
  fill: #fff;
  cursor: pointer; }
  .icon-next:hover, .icon-back:hover {
    width: 55px;
    height: 85px; }

.arrow__left {
  left: -60px; }

.arrow__right {
  right: -60px; }

.issues-continer {
  width: 60%;
  margin: 60px auto; }

.issues-accordion__title {
  font-size: 1.42857rem;
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  font-family: OpenSans;
  font-weight: 600; }

.issues-accordion__pluse {
  position: absolute;
  top: 15px;
  width: 40px;
  height: 40px;
  right: 5px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .issues-accordion__pluse:hover {
    background-color: #dedede; }
    .issues-accordion__pluse:hover:before {
      background-color: #111; }
    .issues-accordion__pluse:hover:after {
      background-color: #111; }
  .issues-accordion__pluse:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1px;
    height: 24px;
    background-color: #111; }
  .issues-accordion__pluse:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 24px;
    height: 1px;
    background-color: #111; }

.issues-accordion {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding-bottom: 40px; }
  .issues-accordion:last-child {
    border-bottom: 0; }

.issues-accordion__text {
  margin-top: 40px;
  font-size: 1.28571rem;
  line-height: 1.3;
  font-family: OpenSans;
  display: none; }

.issues-title {
  text-align: center;
  font-size: 2.28571rem;
  color: #143e56;
  font-family: Lobster; }

.active-arrow {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.first-anim, .last-anim, .second-anim {
  visibility: hidden; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig; }

.face {
  background-color: #ee3a4c; }

.face-conatiner {
  width: 400px;
  height: 400px;
  border: 1px solid transparent;
  position: relative;
  margin: 0 auto; }

.face-eye {
  width: 85px;
  height: 85px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 6px solid #fff;
  position: absolute; }

.eye-left {
  top: 20%;
  left: 15%; }

.eye-right {
  top: 20%;
  right: 15%; }

.eye-left__dot, .eye-right__dot {
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  position: absolute;
  top: 20px; }

.eye-left__dot {
  right: 15px; }

.eye-right__dot {
  left: 15px; }

.face-btn {
  margin-top: 300px;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  z-index: 10;
  position: relative; }

.btn-order__letter {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 20px 50px;
  text-transform: uppercase;
  background-color: #eeeded;
  outline: none;
  text-decoration: none;
  color: #622927;
  font-family: OpenSans;
  font-weight: 600; }

.btn-order__letter:hover {
  background-color: #46cdec;
  color: #622927; }

.face-mouth {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #770f1a;
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.img-smile {
  position: absolute;
  width: 60%;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.animated {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.tada {
  -webkit-animation-name: tada;
          animation-name: tada; }

.dote-anime, .anim-first {
  -webkit-animation: pulsejg1 .6s linear infinite;
          animation: pulsejg1 .6s linear infinite; }

@-webkit-keyframes pulsejg1 {
  0% {
    height: 20px; }
  50% {
    height: 0; }
  100% {
    height: 20px; } }

@keyframes pulsejg1 {
  0% {
    height: 20px; }
  50% {
    height: 0; }
  100% {
    height: 20px; } }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

.page-404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.page-404__main {
  width: 100%;
  padding: 50px 0 20px; }

.page-404__content {
  text-align: center; }

.page-404__title {
  font-size: 1.71429rem;
  font-family: OpenSans;
  color: #787878; }

.page-404__img {
  margin-top: 100px;
  text-align: center; }

.page-404__img {
  position: relative;
  margin-bottom: -60px;
  z-index: 20; }

.footer-nav {
  padding-top: 40px; }

.footer-index {
  color: #fff;
  font-size: 1.71429rem;
  font-family: OpenSans;
  padding: 15px 35px;
  background-color: #ffb72a;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  cursor: pointer; }

.footer-nav__img {
  margin-left: -70px;
  margin-right: 30px;
  margin-top: -10px; }

.page-title, .page-text {
  font-family: OpenSans;
  color: #787878; }

.page-title {
  font-weight: 900;
  font-size: 1.71429rem; }

.page-text {
  font-size: 1.42857rem;
  margin-top: 20px; }

.footer {
  background: image_url("bg/footer.png") no-repeat top left;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100px;
  margin-top: -15px; }

.footer-bg {
  background-color: #005288; }

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer-contacts {
  padding: 30px 0; }

.footer-phone {
  font-size: 1.42857rem;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px; }
  .footer-phone:last-child {
    margin-top: 5px; }

.footer-cconfidentially {
  font-size: 1.28571rem;
  color: rgba(255, 255, 255, 0.9); }

.footer-socials {
  padding-top: 30px; }

.footer-social {
  margin-right: 10px; }
  .footer-social:last-child {
    margin-right: 0; }

.footer-email {
  text-align: center;
  margin-top: 20px;
  font-size: 1.28571rem;
  color: rgba(255, 255, 255, 0.9); }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    width: 992px; }
  .content-50 {
    width: 47%; }
  .email-title, .email-text {
    padding-left: 100px; }
  .email-btn {
    padding-left: 180px;
    margin-bottom: 150px; }
  .email-btn__left {
    margin-bottom: 140px; }
  .additional-gifts__continer {
    width: 90%;
    margin: 0 auto; }
  .additional-gifts__hit {
    white-space: nowrap;
    font-size: 0.92857rem; }
  .arrow__right {
    right: -20px; }
  .arrow__left {
    left: -30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container {
    width: 90%; }
  .main-price {
    margin-left: 20px; }
  .main-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .email-title, .email-text {
    padding-left: 0; }
  .email-btn {
    padding-left: 50px; }
  .emails, .envelop {
    padding: 30px 0; }
  .email-larg img {
    width: 500px; }
  .email-larg__left img {
    width: 500px;
    margin-top: 50px; }
  .email-btn__left, .email-btn {
    margin-bottom: 20px; }
  .additional-gifts__continer {
    margin-top: 15px; }
  .additional-gifts__hit {
    white-space: normal;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5; }
  .btn-slider span {
    display: block;
    margin-top: 5px; }
  .issues-continer {
    width: 80%; }
  .footer-nav__img {
    display: none; }
  .footer-contacts, .footer-socials, .footer-nav {
    width: 90%;
    text-align: center;
    margin: 0 auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 0.85714rem; }
  .content-50 {
    width: 100%; }
  .main-titel {
    margin-top: 20px; }
  .issues-continer {
    width: 100%; }
  .email-66 {
    width: 100%;
    text-align: center; }
  .email-larg__left {
    margin: 0;
    width: 100%; }
  .email-btn__left {
    padding: 0; }
  .email-larg {
    margin: 0;
    padding: 0;
    width: 100%; }
  .emails-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .email-title {
    margin-top: 20px;
    text-align: center; }
  .email-text {
    text-align: center; }
  .email-btn {
    padding-left: 0; }
  .email-larg__left img {
    margin-top: 10px; }
  .footer-contacts {
    padding-bottom: 0; }
  .footer-socials {
    padding-bottom: 20px; }
  .issues-accordion__title {
    padding-right: 40px; }
  .email-title__left {
    margin-top: 20px; }
  .last-anim img {
    margin-top: 20px; }
  .btn-slider {
    text-align: center;
    padding: 10px 3px;
    font-size: 1.14286rem; }
  .additional-gifts__hit {
    padding: 10px 10px;
    font-size: 0.92857rem; }
  .icon-back, .icon-next {
    width: 30px;
    height: 40px; }
    .icon-back:hover, .icon-next:hover {
      width: 32px;
      height: 42px; }
  .arrow {
    top: 55%; }
  .arrow__left {
    left: -20px; }
  .img-404 {
    width: 400px; }
  .nav-container {
    width: 45%; }
  .hamb-close .hamb-box {
    left: 46%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .works-element {
    width: 90%;
    margin-bottom: 25px; }
    .works-element:last-child {
      margin-bottom: 0; }
  .cost-element {
    width: 90%;
    border-right: 0;
    border-bottom: 5px solid #143e56;
    padding: 10px 0; }
    .cost-element:last-child {
      border-bottom: 0; }
  .footer-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-contacts, .footer-socials {
    width: 90%;
    text-align: center; }
  .face-conatiner {
    width: 320px; }
  .email-larg__left {
    margin: 0 0 0 -80px; }
  .main-last span {
    display: block;
    margin-top: 20px; }
  .content-50 {
    text-align: center; }
  .main-content {
    padding-top: 30px; }
  .works, .additional-gifts {
    padding: 35px 0; }
  .additional-gifts__hit {
    font-size: 0.71429rem; }
  .btn-slider {
    font-size: 1rem; }
  .additional-gifts__element {
    margin-right: 3px; }
  .img-404 {
    width: 320px; } }
