br
.ui.grid.container
  .row
    .four.wide.column
    .eight.wide.column.ui.segment
      h2.ui.header Восстановить пароль
      .reset_password
        = form_tag reset_password_path, method: :post, class: 'ui form', remote: true  do
          .field
            label Введите email
            = text_field_tag :email, params[:уьфшд], placeholder: t('login_or_email')
          .field
            - if policy(:session).sign_in?
              = link_to 'Войти', sign_in_path
          button.ui.button[type="submit"] Сбросить
    .four.wide.column