$('.reset_password .ui.red.message').remove();
<% if @user.present? %>
  $('.reset_password').html('<%= j(render 'sessions/success_reset_password') %>');
<% else %>
  $('.reset_password').prepend('<div class="ui red message"><%= @message %></div>\n');
<% end %>