br
.ui.grid.container
  .row
    .four.wide.column
    .eight.wide.column.ui.segment
      h2.ui.header Войти в кабинет
      = form_tag sign_in_path, method: :post, class: 'ui form'  do
        .field
          label Введите логин или email
          = text_field_tag :login, params[:login], placeholder: t('login_or_email')
        .field
          label Пароль
          = password_field_tag :password, nil, placeholder: t('password')
        .field
          - if policy(:session).reset_password?
            = link_to 'Забыли пароль?', reset_password_path
        button.ui.button[type="submit"]= t('sign_in')
    .four.wide.column