<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <h4 class="title"><%= t('galleries') %></h4>
            </div>
            <div class="pull-right">
              <%= link_to 'Обновить', lk_galleries_path, class: 'btn btn-warning btn-sm' %>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <%= form_for :images, html: { class: 'dropzone', id: 'galleries' } do |f| %>
          <div class="fallback">
            <%= f.file_field :image, multiple: true %>
          </div>
        <% end %>

        <% if @images.any? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Картинка</th>
                <th>Сортировка</th>
                <th></th>
              </tr>  
            </thead>
            <tbody>
              <% @images.each do |image| %>
                <tr id="image_<%= image.id %>">
                  <td><%= image_tag(image.image.thumb) %></td>
                  <td>
                    <%= form_for image, url: lk_gallery_path(image), method: :patch, remote: true do |f| %>
                      <%= f.number_field :order_field, class: 'order-field-form form-control' %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to t('destroy'), lk_gallery_path(image), 
                                              method: :delete,
                                              class: 'btn btn-danger btn-sm',
                                              remote: true %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>  
  </div>
</div>