section
  section.footer
  .footer-bg
    .container
      .footer-content
        .footer-contacts
          a.footer-phone[href="tel:+74951251069"]
            | МСК: +7(495) 125-10-69
          a.footer-phone[href="tel:+79119242163"]
            | СПб: +7(911) 924-21-63
          .footer-cconfidentially
            | © f121.ru 2012
        .footer-socials
          a.footer-social[href="https://vk.com/pismo_ot_deda_moroza7"]
            = image_tag("social/vk.png")
          a.footer-social[href=""]
            = image_tag("social/ok.png")
          a.footer-social[href=""]
            = image_tag("social/fb.png")
          a.footer-social[href=""]
            = image_tag("social/inst.png")
          a.footer-social[href=""]
            = image_tag("social/you.png")
          .footer-email
            | info@f121.ru