section#main-land.main
  .container
    header.nav-bar
      .nav-bar__menu
        a.hamb[href="javascript:void(0);"]
          span.hamb-box
            span.hamb-inner
        nav.nav-container
          ul
            li
              a.class_nav[href="#main-land"]
                | Главная
            li
              a.class_nav[href=""]
                | Доставка
            li
              a.class_nav[href="#cost-scroll"]
                | Оплата
            li
              a.class_nav[href="#gifts-scroll"]
                | Подарки
            li
              a.class_nav[href="#faq-scroll"]
                | FAQ
            li
              a.class_nav[href="#order-scroll"]
                | Заказать
            - if policy(:session).signed_in?
              li= link_to t('cabinet'), cabinet_root_path
            - if policy(:admin_session).current_user_is_admin?
              li= link_to t('dashboard'), lk_root_path
            - if policy(:session).sign_in?
              li= link_to t('sign_in'), sign_in_path
            - if policy(:session).logout?
              li= link_to t('logout'), logout_path, method: :delete
      .nav-bar__phone
        a.header-phone[href="tel:+74951251069"]
          | МСК: +7(495) 125-10-69
        a.header-phone[href="tel:+79119242163"]
          | СПб: +7(911) 924-21-63
    - if controller_path == 'home' && action_name == 'index'
      .main-content
        .content-50
          = image_tag('main/girl-first.png', class: 'main-first__girl')
        .content-50
          h1.main-titel
            |  Письмо от Деда Мороза с сургутной печатью
          span.main-text
            | Сделайте новогоднюю ночь 2017 незабываемой, оставив на память необыновенный подарок!
          .main-last
            = link_to 'Заказать письмо', new_order_path, class: 'btn-order__first'
            span.main-price
              | 390 руб.