<h1>Ваш кабинет создан</h1>

<p>Логин: <strong><%= @user.username %></strong></p>
<p>Email: <strong><%= @user.email %></strong></p>
<p>Пароль: <strong><%= @password %></strong></p>

<p><%= link_to 'Войти в кабинет', sign_in_url %></p>