.nested-fields
  .row
    .col-md-12
      = f.label :address
      = f.text_field :address, class: 'form-control border-input'
  .row
    .col-md-12
      = f.label :tech_description
      = f.text_area :tech_description, class: 'form-control border-input'

  .row
    .col-md-12
      = f.label :schedule
      = f.text_area :schedule, class: 'form-control border-input'

  .text-right
    = link_to_remove_association t('remove_address'), f, class: 'btn btn-danger btn-sm'