hr
  = form_for [:lk, @city ||= City.new], html: {multipart: true} do |f|
    .row
      .col-md-12
        .form-group class=('has-error' if @city.errors[:title].any?)
          = f.label :title
          = f.text_field :title, class: 'form-control border-input'

          - if @city.errors[:title].any?
            p.help-block= @city.errors[:title].first

    .row
      .col-md-12
        .form-group
          = f.label :delivery_price
          = f.text_field :delivery_price, class: 'form-control border-input'

          - if @city.errors[:delivery_price].any?
            p.help-block= @city.errors[:delivery_price].first

    .row
      .col-md-12
        .form-group
          = f.label :km_price
          = f.text_field :km_price, class: 'form-control border-input'

          - if @city.errors[:km_price].any?
            p.help-block= @city.errors[:km_price].first

    .row
      .col-md-12
        .form-group
          = f.label :description
          = f.text_area :description, class: 'form-control border-input'

    #delivery_addresses
      = f.fields_for :delivery_addresses do |delivery|
        = render 'delivery_address_fields', f: delivery if @city.delivery_addresses.any?
      .links
        = link_to_add_association t('add_address'), f, :delivery_addresses, class: 'btn btn-info btn-sm'

    .row
      .col-md-12
        .form-group
          = f.submit t('save'), class: 'btn btn-primary'
