- content_for(:lk_title_page) { t('cities') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('cities')
            .pull-right
              = link_to t('add_city'), new_lk_city_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :title_cont, class: 'form-control border-input', placeholder: t('search_by_name')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, City.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :title, City.human_attribute_name(:title), default_order: :asc)
              th= sort_link(@q, :title, City.human_attribute_name(:delivery_price), default_order: :asc)
              th= sort_link(@q, :title, City.human_attribute_name(:km_price), default_order: :asc)
              th
          tbody
            - @cities.each do |city|
              tr
                td= city.id
                td= link_to city.title, edit_lk_city_path(city)
                td= city.delivery_price
                td= city.km_price
      .content
        .row
          .col-md-12.text-center
            = paginate @cities
