- content_for(:lk_title_page) { t('add_city') }

.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= t('add_city')
        .pull-right
          = link_to t('back'), lk_cities_path, class: 'btn btn-default btn-sm'
      .content
        = render 'form'