hr
= form_for [:lk, @gift], html: { multipart: true } do |f|
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control border-input'
    .col-md-3
      .form-group
        = f.label :old_price
        = f.number_field :old_price, class: 'form-control border-input'
    .col-md-3
      .form-group
        = f.label :new_price
        = f.number_field :new_price, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.label :description
        = f.text_area :description, rows: 5, class: 'form-control border-input'

  .row
    .col-md-3
      .checkbox
        = f.check_box :on_root_page
        = f.label :on_root_page
    .col-md-3
      .checkbox
        = f.check_box :include_in_order
        = f.label :include_in_order, Gift.human_attribute_name(:include_in_order)
    .col-md-3
      .checkbox
        = f.check_box :priority
        = f.label :priority
    .col-md-3
      .checkbox
        = f.check_box :yandex_market
        = f.label :yandex_market

  .row
    .col-md-4
      .form-group
        = f.label :avatar
        = f.file_field :avatar, class: 'border-input'
        = f.hidden_field :avatar_cache
    .col-md-4
      .form-group
        = image_tag(@gift.avatar.preview, class: 'img-thumbnail') if @gift.avatar.present?

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary'