- content_for(:lk_title_page) { t('gifts') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('gifts')
            .pull-right
              = link_to t('add_gift'), new_lk_gift_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :name_cont, class: 'form-control border-input', placeholder: t('search_by_name')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, Gift.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :name, Gift.human_attribute_name(:name), default_order: :asc)
              th= Gift.human_attribute_name(:avatar)
              th= sort_link(@q, :old_price, Gift.human_attribute_name(:old_price), default_order: :desc)
              th= sort_link(@q, :new_price, Gift.human_attribute_name(:new_price), default_order: :desc)
              th= Gift.human_attribute_name(:on_root_page)
              th= Gift.human_attribute_name(:priority)
              th= Gift.human_attribute_name(:include_in_order)
              th= Gift.human_attribute_name(:yandex_market)
              th
          tbody
            - @gifts.each do |gift|
              tr
                td= gift.id
                td= link_to gift.name, edit_lk_gift_path(gift)
                td= image_tag(gift.avatar.thumb)
                td= humanize_price(gift.old_price)
                td= humanize_price(gift.new_price)
                td= humanize_boolean(gift.on_root_page)
                td= humanize_boolean(gift.priority)
                td= humanize_boolean(gift.include_in_order)
                td= humanize_boolean(gift.yandex_market)
                td= link_to t('destroy'), lk_gift_path(gift), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @gifts