- content_for(:lk_title_page) { t('callback_phones') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('callback_phones')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, CallbackPhone.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :name, CallbackPhone.human_attribute_name(:name), default_order: :asc)
              th= sort_link(@q, :phone, CallbackPhone.human_attribute_name(:phone), default_order: :asc)
              th= sort_link(@q, :created_at, CallbackPhone.human_attribute_name(:created_at), default_order: :desc)
              th
          tbody
            - @callback_phones.each do |cb|
              tr
                td= cb.id
                td= cb.name
                td= cb.phone
                td= l(cb.created_at, format: :long)
      .content
        .row
          .col-md-12.text-center
            = paginate @callback_phones
