@font-face {
  font-family: 'themify';
  src:  asset-url('paper-dashboard/fonts/themify.eot?-fvbane');
  src:  asset-url('paper-dashboard/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
        asset-url('paper-dashboard/fonts/themify.woff?-fvbane') format('woff'),
        asset-url('paper-dashboard/fonts/themify.ttf?-fvbane') format('truetype'),
        asset-url('paper-dashboard/fonts/themify.svg?-fvbane#themify') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'paper-dashboard/css/bootstrap.min';
@import 'paper-dashboard/css/animate.min';
@import 'paper-dashboard/css/paper-dashboard';
@import 'paper-dashboard/css/themify-icons';

@import 'dropzone/dropzone';

// Bootstrap Modal
.modal-backdrop {
  z-index: -1
}

#preview_body {
  height: 70vmin;
  min-height: 600px;
  position: relative
}

.hidden_button {
  display: none
}

#preview_button {
  margin-left: 50px
}

.text_congratulation {
  margin: 30% auto 0 auto;
  width: 70%;
  z-index: 2;
  position: relative;
  text-align: justify
}
.text_congratulation p {
  font-size: 1em
}

.centered {
  text-align: center
}

.background_congratulation {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0
}
