.letter
  .ui.grid
    .row
      .eleven.wide.column
        h5.letter_name = letter.name

        span.grey.letter_meta
          i.icon.user
          = "#{letter.age} лет"
          | &nbsp;
          i.icon.marker
          = letter.city

      .five.wide.column.right.aligned
        span.grey = l(letter.created_at, format: :long)

  p.letter_text = simple_format(letter.text)
  - if letter.letter_images.any?
    - letter.letter_images.each do |letter_image|
      = image_tag(letter_image.image, class: 'ui medium bordered image', style: 'display: inline-block;')