.slide.centered
  
  .present_image_block.wide
    = image_tag(gift.avatar.preview, class: "ui present_image image")

  .present_desc.wide
    p.blue.thin = gift.name

  button.ui.button.add_button.wide
    h3.white.inline
      = "#{gift.new_price} руб."
      | &emsp;
    p.white.thin.inline = "Добавить"
