<script type="text/javascript" src="//vk.com/js/api/openapi.js?150" defer async></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript" defer async>
  VK.Widgets.CommunityMessages("vk_community_messages", 66199269, {tooltipButtonText: "Есть вопрос?"});
</script>