<!-- start main-->
<section class="main" id="main-land">
  <div class="container">
    <header class="nav-bar">
      <div class="clear"></div>
      <div class="nav-bar__phone">
            <svg class="icon icon-right-button bottom-buttom">
              <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#right-button') %>"></use>
            </svg>
        <div class="nav-bar__form">
          <input class="form-name" type="text" placeholder="Ваше имя" require>
          <input class="form-phone" type="text" placeholder="Телефон" require id="phone-call">
          <div class="nav-form__submit"><a class="btn-submit" href="javascript:void(0)">Отправить</a></div>
        </div>
        <a class="header-phone" href="tel:<%= StaticData.msk_phone %>">МСК: <%= StaticData.msk_phone %></a>
        <a class="header-phone" href="tel:<%= StaticData.spb_phone %>">СПб: <%= StaticData.spb_phone %></a>
      </div>
    </header>
    <div class="main-content">
      <div class="content-50 text-center">
        <img src="<%= image_path('img/works/main.png') %>" class="main-img" alt="Ребенок">
      </div>
      <div class="content-50">
        <h1 class="main-titel"> Письмо от Деда Мороза с сургучной печатью</h1>
        <div class="main-text"> 
              <svg class="icon icon-curve-arrow curve-arrow__header">
                <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#curve-arrow') %>"></use>
              </svg>Сделайте новогоднюю ночь 2018 незабываемой, оставив на память необыкновенный подарок
        </div>
        <div class="main-last">
          <%= link_to 'Поздравить', order_path, class: 'btn-order__first' %>
          <span class="main-price">590 <span>руб.</span></span></div>
      </div>
    </div>
  </div>
</section>
<!-- end main-->

<!-- start much-thank-->
<section class="much-thank">
  <div class="much-thank__container">
    <div class="much-thank__text">Спасибо. Мы свяжемся с вами в ближайшее время.</div>
    <div class="much-thank__block">
      <a class="btn-submit__close" href="javascript:void(0);">Закрыть</a>
    </div>
  </div>
</section>
<!-- end much-thank-->

<!-- start works-->
<section class="works">
  <div class="container">
    <div class="works-title">
      <h2>Простая идея</h2>
    </div>
    <div class="works-continer">
      <div class="works-element"><img src="<%= image_path('img/works/message.png') %>" alt="Сообщение">
        <div class="works-element__text"> Учтем все пожелания по письму</div>
      </div>
      <div class="works-element"><img src="<%= image_path('img/works/rocket.png') %>" alt="Сообщение">
        <div class="works-element__text">Изготовим за 1-3 дня</div>
      </div>
      <div class="works-element"><img src="<%= image_path('img/works/sled.png') %>" alt="Сани">
        <div class="works-element__text">Доставим курьером  или самовывозом</div>
      </div>
    </div>
  </div>
</section>
<!-- end works-->

<!--start 1-->
<section class="email">
  <div class="container">
    <div class="email-block">
      <div class="email-block__40">
        <div class="email-block__title">Здесь нет  электронных писем</div>
        <div class="email-block__text">
          Каждое письмо индивидуально. 
          От вас требуется краткая информация, которую вы хотели бы включить в текст
        </div>
      </div>
      <div class="email-block__60 email-block__media first-anim">
        <img src="<%= image_path('img/works/mail.png') %>" alt="Письмо">
      </div>
    </div>
  </div>
</section>
<!--end 1-->

<!--start 2-->
<section class="email">
  <div class="container">
    <div class="email-block">
      <div class="email-block__60 order-2 second-anim">
        <%= image_tag('img/works/sock2.jpg', alt: "Индивидуальный  конверт") %>
      </div>
      <div class="email-block__40 order-1">
        <div class="email-block__title">Индивидуальный  конверт  </div>
        <div class="email-block__text">Настоящие марки, крафтовый конверт и 
          большая, яркая сургучная печать
        </div>
      </div>
    </div>
  </div>
</section>
<!--end 2-->

<!--start 3-->
<section class="email">
  <div class="container">
    <div class="email-block">
      <div class="email-block__40">
        <div class="email-block__title">Магия в деталях  </div>
        <div class="email-block__text">Каждое письмо индивидуально. 
          От вас требуется краткая информация, которую вы хотели бы включить в текст</div>
      </div>
      <div class="email-block__60 email-block__media last-anim">
        <img src="<%= image_path('img/works/magin_in_details.jpg') %>" alt="Магия в деталях">
      </div>
    </div>
  </div>
</section>
<!--end 3-->

<!-- start cost-->
<section class="cost" id="cost-scroll">
  <div class="container">
    <div class="works-title">
      <h2>Отличные цены</h2>
    </div>
    <div class="cost-continer">
      <div class="cost-elment">
            <svg class="icon icon-curve-arrow curve-arrow__cost">
              <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#curve-arrow') %>"></use>
            </svg>
        <div class="cost-elment__bg">
          <%= link_to order_path do %>
            <span class="cost-elment__price">590</span>
            <span class="cost-elment__currency">руб.</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end cost-->

<!-- start .additional-gifts-->
<section class="additional-gifts" id="gifts-scroll">
  <div class="container">
    <div class="gifts-title">
      <h2>Дополнительные подарки</h2>
    </div>
     
    <div class="additional-gifts__slid">
      <div class="additional-gifts__continer">
        <% @gifts_on_root_page.each do |gift| %>
          <div class="additional-gifts__element">
            <div class="additional-gifts__img">
              <%= image_tag(gift.avatar.preview) %>
            </div>
            <div class="additional-gifts__hit"> 
              <div class="additional-gifts__hit-text"><%= gift.name %></div>
              <div class="additional-gifts__hit-price"><%= gift.new_price %> руб.</div>
            </div>
            <%= link_to 'Добавить', order_path, class: 'btn-slider' %>  
          </div>
        <% end %>
      </div>

      <button class="arrow arrow__left">
            <svg class="icon icon-back ">
              <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#back') %>"></use>
            </svg>
      </button>

      <button class="arrow arrow__right">
            <svg class="icon icon-next ">
              <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#next') %>"></use>
            </svg>
      </button>
    </div>
  </div>
</section>
<!-- end additional-gifts-->

<!-- start issues-->
<section class="issues" id="faq-scroll">
  <div class="container">
    <div class="issues-title">
      <h2>Часто задаваемые вопросы</h2>
    </div>
    <div class="issues-continer">
      <% @faqs.each do |faq| %>
       <div class="issues-accordion">
          <div class="issues-accordion__title">
            <%= faq.question %>
            <div class="issues-accordion__pluse">
              <svg class="icon icon-faq ">
                <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#faq') %>"></use>
              </svg>
            </div>
          </div>
          <div class="issues-accordion__text">
            <%= faq.answer %>
          </div>
        </div>
      <% end %>
      
      
      <div class="issues-accordion">
        <div class="issues-accordion__title" id="issues-pay__methods">Способы оплаты?​
          <div class="issues-accordion__pluse">
                <svg class="icon icon-faq ">
                  <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#faq') %>"></use>
                </svg>
          </div>
        </div>
        <div class="issues-accordion__text">
          ❶ Наличными при получении. в пунктах самовывоза или при получении товара с доставкой. Только Москва и Санкт-Петербург
          <br> 
          ❷ Картой при получении. в пунктах самовывоза. (Только Москва и Санкт-Петербург).
          <br>
          ❸ Безналичный расчет. Делаете заказ, мы перезваниваем, уточняем детали. Выставляем счет на оплату.
          <br>
          ❹ На сайте. Мы принимаем к оплате банковские карты и электронные деньги.

            * Оплатить заказ на сайте можно только после подтверждения заказа оператором.

            ** После приёма денег мы отписываем Вам о получении
          <%= render 'shared/yandex_money_link' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end issues-->

<!--start team-->
<section class="team">
  <div class="container">
    <div class="team-container">
      <div class="team-img"> <img src="<%= image_path('img/works/team.jpg') %>" alt="Команда"></div>
      <div class="team-description">
            <svg class="icon icon-quotes ">
              <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#quotes') %>"></use>
            </svg>
        <div class="team-description__title">Привет, нас зовут Сергей и Вика.   </div>
        <div class="team-description__text">
          Вместе с нашими друзьями, мы уже 5 лет помогаем Дедушке Морозу отвечать на письма ребятишек.Поверьте, это самая лучшая работа в мире. 
          В этом году у нас появился сынишка и поэтому 
          мы сможем сделать  всего 100 писем.
        </div>
      </div>
    </div>
  </div>
</section>
<!--end team-->

<!-- start merit-->
<section class="merit">
  <div class="container"> 
    <div class="merit-container">
      <div class="merit-hr"></div>
      <div class="merit-titel"><span>есть,  </span><span>чем гордиться! </span></div>
    </div>
  </div>
</section>
<!-- end merit-->

<!--start gallery-->
<section class="gallery">
  <div class="gallery-container">
    <div class="gallery-elements">
      <% @gallery.each do |image| %>
        <div class="gallery-element">
          <%= image_tag(image.image.preview) %>
        </div>
      <% end %>
    </div>
    <button class="arrow arrow__gallery-back">
          <svg class="icon icon-gallery-back ">
            <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#gallery-back') %>"></use>
          </svg>
    </button>
    <button class="arrow arrow__gallery-next">
          <svg class="icon icon-gallery-next ">
            <use xlink:href="<%= image_path('img/svg/symbol/sprite.svg#gallery-next') %>"></use>
          </svg>
    </button>
  </div>
</section>
<!-- end gallery-->

<section class="message-blok">
  <div class="container">
    <%= render 'shared/vk_comments_widget' %>
  </div>
</section>

<!-- start delivery-->
<section class="delivery" id="transfer">
  <div class="container">
    <div class="delivery-container">
      <div class="delivery-container__title">Вы получите письмо пока другие несут его отправлять почтой России</div>
      <div class="delivery-container__advantage">
        <div class="delivery-advantage__point"> 
          <div class="delivery-advantage__point--number">1 </div><span>Пунктов выдачи</span>
        </div>
        <div class="delivery-advantage__period"> 
          <div class="delivery-advantage__period--day">1-3 
            <div class="delivery-advantage__sup">дня</div>
          </div>
          <div class="delivery-advantage__period--text">Доставка</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end delivery-->

<!--start order-scroll-->
<section class="order-scroll__style" id="order-scroll">
  <div class="container">
    <div class="order">
      <%= link_to 'Заказать', order_path, class: 'btn-order' %>
    </div>
  </div>
</section>
<!--end order-scroll-->