.product-container
  .product-header
    .product-header__name
      = @gift.name
    .product-header__crumbs
      ul.header-crumbs
        li.crumb
          = link_to 'Главная', root_path
        li.crumb= fa_icon 'arrow-left', style: 'color: grey'
        li.crumb
          span
            = @gift.name
  .product-contend
    .product-contend__img
      = image_tag(@gift.avatar.preview)
    .product-contend__description
      .product-description
        .product-description__cost
          span
            | Стоимость: #{@gift.new_price} руб.
          .old-price
            |  #{@gift.old_price} руб.
        a.btn-order[href="javascript:void(0)"]
          | Заказать
      .product-description__all
        span
          | Описание:
        p
          = @gift.description
  .feedback-container
    .feedback
      = form_for @gift_card_order ||= GiftCardOrder.new, remote: true, html: { class: 'feedback-form' } do |f|
        = fa_icon 'close', class: 'icon icon-cancel'
        = f.text_field :fio, class: 'feedback__input', placeholder: 'Ф.И.О'
        = f.email_field :email, class: 'feedback__input', placeholder: 'Email'
        = f.text_field :phone, class: 'feedback__input', placeholder: 'Телефон'
        button.btn-ord
          | Отправить