section
  section.footer
  .footer-bg
    .container
      .footer-content
        .footer-contacts
          a.footer-phone[href="tel:+74951251069"]
            | МСК: #{StaticData.msk_phone}
          a.footer-phone[href="tel:+79119242163"]
            | СПБ: #{StaticData.spb_phone}

          .footer-cconfidentially
            | © f121.ru &nbsp 2012 - #{Date.today.year + 1}
        .footer-socials
          .ics
            a.footer-social[href="https://vk.com/pismo_ot_deda_moroza7" target="_blank"]
              = image_tag("img/social/vk.png", alt: "Социальная сеть")
            a.footer-social[href="https://ok.ru/group/53392279929017" target="_blank"]
              = image_tag("img/social/ok.png", alt: "Социальная сеть")
            a.footer-social[href="https://www.facebook.com/dedmorozpismo/" target="_blank"]
              = image_tag("img/social/fb.png", alt: "Социальная сеть")
            a.footer-social[href="https://www.instagram.com/pismo_dm/" target="_blank"]
              = image_tag("img/social/inst.png", alt: "Социальная сеть")
            a.footer-social[href="https://www.youtube.com/watch?v=8mWSWTiM0E8&feature=youtu.be"]
              = image_tag("img/social/you.png", alt: "Социальная сеть")
          .footer-email
            | #{StaticData.email}