<section class="nav-bar__web">
      <div class="nav-bar__menu">
        <a class="hamb" href="javascript:void(0);">
          <span class="hamb-box">
            <span class="hamb-inner"></span>
          </span>
        </a>
        <div class="fixe-container">
          <nav class="nav-container">
            <ul>
              <li><%= link_to 'Главная', root_path(anchor: 'main-land'), class: 'class_nav' %></li>
              <li><%= link_to 'Подарки', root_path(anchor: 'gifts-scroll'), class: 'class_nav' %></li>
              <li><%= link_to 'FAQ', root_path(anchor: 'faq-scroll'), class: 'class_nav' %></li>
              <li><%= link_to 'Оплата', root_path(anchor: 'issues-pay__methods'), class: 'class_nav' %></li>
              <li><%= link_to 'Доставка', root_path(anchor: 'transfer'), class: 'class_nav' %></li>
              <li><%= link_to 'Заказать', order_path %></li>
              <% if policy(:session).signed_in? %>
                <li><%= link_to t('cabinet'), cabinet_root_path %></li>
              <% end %>
              <% if policy(:admin_session).current_user_is_admin? %>
                <li><%= link_to t('dashboard'), lk_root_path %></li>
              <% end %>
              <% if policy(:session).sign_in? %>
                <li><%= link_to t('sign_in'), sign_in_path %></li>
              <% end %>
              <% if policy(:session).logout? %>
                <li><%= link_to t('logout'), logout_path, method: :delete %></li>
              <% end %>
            </ul>
          </nav>
          <div class="left-block"></div>
        </div>
      </div>
    </section>

