- set_meta_tags title: t('add_order')
- set_meta_tags description: 'Получите письмо от Деда Мороза в 2018'

= form_for @order ||= Order.new do |f|
  section.order-menu
    .container
      .order-nav
        .order-nav__container
          - if @order.errors.any?
            .messege-error
              | Пройдите шаги еще раз и заполните нужны поля
          ul.tabs-list
            li.first__element.tab-element.active[show-tab="first"]
              | Состав подарка
            li.second__element.tab-element[show-tab="second"]
              | Кого поздравляем
            li.three__element.tab-element[show-tab="three"]
              | Ваши данные
            li.fourth__element.tab-element[show-tab="fourth"]
              | Доставка
          .load-stripe
            .load-stripe__loding
            .load-stripe__snowflake
              svg.icon.icon-snowflake
                use[xlink:href="#{image_path('img/svg/symbol/sprite.svg#snowflake')}"]
        .nav-bar__phone
          svg.icon.icon-right-button.order-buttom__header
            use[xlink:href="#{image_path('img/svg/symbol/sprite.svg#right-button')}"]
          .nav-bar__form
            input.form-name[type="text" placeholder="Ваше имя"]
            input#phone-call.form-phone[type="text" placeholder="Телефон"]
            .nav-form__submit
              a.btn-submit[href="javascript:void(0)"]
                | Отправить
          a.header-phone[href="tel:#{StaticData.msk_phone}"]
            | МСК: #{StaticData.msk_phone}
          a.header-phone[href="tel:#{StaticData.spb_phone}"]
            | СПБ: #{StaticData.spb_phone}
        a.btn-main[href="/"]
          svg.icon.icon-main
            use[xlink:href="#{image_path('img/svg/symbol/sprite.svg#main')}"]
      section.much-thank
        .much-thank__container
          .much-thank__text
            | Спасибо. Мы свяжемся с вами в ближайшее время.
          .much-thank__block
            a.btn-submit__close[href="javascript:void(0);"]
              | Закрыть
      .container-tabs
        .tabs-content.first.active-container
          .order-lists
            .order-lists__title
              h5
                | Состав заказа
            = f.collection_check_boxes(:gift_ids, Gift.includes_in_order, :id, :name, include_hidden: false) do |ff|
              .order-lists__element
                label.checkbox.disabled-text
                  = ff.object.name
                  = ff.check_box(class: 'val__input', checked: 'checked', disabled: 'disabled', data: { val: ff.object.new_price, name: ff.object.name })
                  span.checkbox-custom
                .price-block
                  = humanize_price(ff.object.new_price)
                .order-lists__element-img
                  = image_tag(ff.object.avatar.thumb)

            = f.collection_check_boxes(:gift_ids, Gift.not_includes_in_order, :id, :name, include_hidden: false) do |ff|
              .order-lists__element
                label.checkbox
                  = ff.object.name
                  = ff.check_box(class: 'val__input', data: { val: ff.object.new_price, name: ff.object.name })
                  span.checkbox-custom
                .price-block
                  = humanize_price(ff.object.new_price)
                .order-lists__element-img
                  = image_tag(ff.object.avatar.thumb)
          .order-summ
            .order-summ__element
              | Сумма:
              span.order-summ__element-count
                | 0
            .load-stripe
            .order-summ__botton
              a.btn-summ__next[href="javascript:void(0);" data-next="second__element"]
                | Вперед

        .tabs-content.second
          .order-lists
            .order-lists__checks
              .lists-checks__titel
                | Для кого письмо
              .checks-elements
                - Order::FOR_WHOM_LETTER.each do |item|
                  label.checkbox-element class=(item[:class]) class=('error-messege__border' if f.object.errors[:for_whom_letter].any?)
                    = f.radio_button :for_whom_letter, item[:title], class: 'check-letter'
                    span.custom-element
                      svg.icon.icon-girl_cant_read
                        use[xlink:href="#{image_path(item[:image])}"]
                    span.custom-title
                      = item[:title]

              .lists__titel
                | Кого поздравляем (имя)
              = f.text_field :names, class: "order-list__name #{'error-messege__border' if f.object.errors[:names].any?}"

              .lists__titel
                | Примечания к письму
              = f.text_area :note, class: 'note-letter', placeholder: 'Заполнять по желанию...'

              .lists__titel
                | Адрес на конверте
              = f.text_area :address_on_the_envelope, class: 'address-envelope', placeholder: 'Заполнять по желанию...'

          .order-summ
            .order-summ__element
              | Сумма:
              span.order-summ__element-count
                | 590
            .load-stripe
            .order-summ__botton
              a.btn-summ__back[href="javascript:void(0);" data-back="first__element"]
                | Назад
              a.btn-summ__next[href="javascript:void(0);" data-next="three__element"]
                | Вперед
        .tabs-content.three
          .order-lists
            .order-lists__checks
              .order-lists__container
                .lists__titel
                  | Ваше имя
                = f.text_field :customer_name, class: 'order-list__fio'

                .lists__titel
                  | Телефон
                = f.text_field :customer_phone, class: "order-list__phone #{'error-messege__border' if f.object.errors[:customer_phone].any?}"

                .lists__titel
                  | Адрес электронной почты
                = f.text_field :customer_email, class: 'order-list__location'

          .order-summ
            .order-summ__element
              | Сумма:
              span.order-summ__element-count
                | 0
            .load-stripe
            .order-summ__botton
              a.btn-summ__back[href="javascript:void(0);" data-back="second__element"]
                | Назад
              a.btn-summ__next[href="javascript:void(0);" data-next="fourth__element"]
                | Вперед
        .tabs-content.fourth
          .order-lists
            = f.hidden_field :city_id, value: f.object.city_id || @default_city.id
            = f.hidden_field :delivery_type
            .lists__titel
              | Текущий регион
              .link-container
                a.link-location#default_city_title[href="javascript:void(0);"]
                  = @default_city.title 
              .link-container
                a.link-new__region[href="javascript:void(0);"]
                  | не ваш регион?

            .delivery-block
              label.delivery-radio
                | Самовывоз - Бесплатно
                = f.radio_button :delivery_address_id, f.object.delivery_address_id, class: 'delivery-content', checked: 'checked', data: { delivery: 'Самовывоз', val: f.object.delivery_address_id }
                span.delivery-custom
              .delivery-block__container.delivery-block__container-action
                select#addres-pickup.addres-pickup__style
                  - @default_city.delivery_addresses.each do |delivery_address|
                    option= delivery_address.address                    
            .delivery-block
              label.delivery-radio
                | Доставка по городу -
                span.delivery_price
                  | 230
                span
                  | руб.
                input.delivery-content.delivery-content__value[type="radio" name="order[delivery_address_id]" data-val="230" data-delivery="Доставка по городу"]
                span.delivery-custom
              .delivery-block__container
                textarea.city-deliv[placeholder="Адрес доставки"]
            .delivery-block
              label.delivery-radio
                | Доставка за город -
                span.delivery_price
                  | 230
                span
                  | руб.+
                span.km_price
                  | 20
                span
                  | руб./км
                input.delivery-content.delivery-content__value[type="radio" name="order[delivery_address_id]" data-val="230" data-delivery="Доставка за город"]
                span.delivery-custom
              .delivery-block__container
                = f.text_area :user_address, class: 'out-city', placeholder: 'Адрес доставки'
            .delivery-bottom__last
              = f.submit 'Отправить', class: 'btn-delivery__last'
              /a.btn-delivery__last[href="javascript:void(0);"]
              /  | Отправить
          .order-summ
            .order-summ__element
              | Сумма:
              span.order-summ__element-count
                | 0
            .load-stripe
            .order-summ__botton
              a.btn-summ__back[href="javascript:void(0);" data-back="three__element"]
                | Назад
section.popup
  .location-popup
    .location-container
      svg.icon.icon-cance.close-btn
        use[xlink:href="#{image_path('img/svg/symbol/sprite.svg#cance')}"]
      .location-container__title
        | Выберите регион
      .location-container__cities

javascript:
  $('#order_customer_email').focusout(function() {
    var email = $(this).val()
    $.ajax({
      url: 'users',
      type: 'post',
      data: {
        user: {
          email: email
        }
      }
    })
  })

/
/      #tab_4.tab
/        .order_step.delivery_area
/
/          = f.hidden_field :city_id
/          = f.hidden_field :user_address
/          = f.hidden_field :delivery_type
/
/          .field
/            p.inline.margin_big Текущий регион
/
/            a#your_region.inline.margin_big href="#"
/
/            a.light_blue.region_link.margin_big href="#" не&nbsp;ваш&nbsp;регион?
/
/          .ui.form
/            .grouped.fields
/
/              .field
/                #self_checkbox.ui.radio.checkbox.delivery_type_checkbox.checkbox_order_field
/                  input checked="checked" name="radio" type="radio"
/                  label Самовывоз - Бесплатно
/
/              #self_address.delivery_address.field.left_margin
/
/              .field
/                #in_city_checkbox.ui.radio.checkbox.delivery_type_checkbox.checkbox_order_field
/                  input name="radio" type="radio"
/                  label
/
/              #in_city_address.delivery_address.field.left_margin
/                textarea.order_form placeholder='Адрес доставки'
/                  = f.object.user_address
/
/              .field
/                #out_city_checkbox.ui.radio.checkbox.delivery_type_checkbox.checkbox_order_field
/                  input name="radio" type="radio"
/                  label
/
/              #out_city_address.delivery_address.field.left_margin
/                textarea.order_form placeholder='Адрес доставки'
/                  = f.object.user_address
/
/            br
/            = f.button type: :submit, id: 'submitBtn', class: 'ui green button right floated' do
/              h4.thin Отправить
/
/        .ui.longer.modal
/          i.close.icon
/          .header = t('choose_region')
/          .content.scrolling
/            = f.collection_radio_buttons(:city_id, City.all, :id, :title) do |ff|
/              .field.checkbox_order_field
/                .ui.radio.checkbox.city_checkbox
/                  = ff.radio_button(data: {city_id: ff.object.id})
/                  label
/                    => ff.object.title
/
/          .actions
/            .ui.button.hide_modal = t('cancel')
/            .ui.button.hide_modal = t('continue')
/
/    .order_step
/      h5
/        | Сумма:&nbsp;
/        span#total-price 0
/      = f.hidden_field :total_price
/
/    .order_step.order_buttons
/      button.ui.grey.button.circle_button.order_step_button id="prev_tab" value="-1" type="button"
/        h4.thin = t('back')
/
/      button.ui.blue.button.circle_button.order_step_button id="next_tab" value="1" type="button"
/        h4.thin = t('forward')
