<div class="page-404__main">
    <div class="container">
      <div class="page-404__content">
        <h2 class="page-title">Номер вашего заказа<span> <%= @order.id %></span></h2>
        <div class="page-text">Скоро с вами свяжутся для подтверждени</div>
      </div>
      <div class="page-404__img"><img class="img-404" src="<%= image_path('img/works/thank.png') %>" alt="Спасибо"></div>
    </div>
  </div>

<!-- doctype html
html
  head
    = csrf_meta_tags
    = display_meta_tags(default_meta_tags)
    = favicon_link_tag(asset_path('favicon.png'))
    = stylesheet_link_tag 'home/application', media: 'all'
    = javascript_include_tag 'home/application'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    section.page-404
      .page-404__main
        .container
          .page-404__content
            .nav-bar__menu
              a.hamb[href="javascript:void(0);"]
                span.hamb-box
                  span.hamb-inner
              .fixe-container
                nav.nav-container
                  ul
                    li
                      = link_to 'Главная', root_path(anchor: 'main-land')
                    li
                      a.class_nav[href=""]
                        | Доставка
                    li
                      a.class_nav[href="#cost-scroll"]
                        | Оплата
                    li
                      a.class_nav[href="#gifts-scroll"]
                        | Подарки
                    li
                      a.class_nav[href="#faq-scroll"]
                        | FAQ
                    li
                      a.class_nav[href="#order-scroll"]
                        | Заказать
                    - if policy(:session).signed_in?
                      li= link_to t('cabinet'), cabinet_root_path
                    - if policy(:admin_session).current_user_is_admin?
                      li= link_to t('dashboard'), lk_root_path
                    - if policy(:session).sign_in?
                      li= link_to t('sign_in'), sign_in_path
                    - if policy(:session).logout?
                      li= link_to t('logout'), logout_path, method: :delete
                .left-block
            h2.page-title
              | Номер вашего заказа
              span
                =< @order.id
            .page-text
              | Скоро с вами свяжутся для подтверждени
          .page-404__img
            = image_tag('img/works/thank.png', class: 'img-404', alt: 'Спасибо')
      = render 'layouts/santa_1_0/shared/footer'
      = render 'shared/yandex_metrika' -->
