hr
= form_for [:lk, @letter_image_template], html: { multipart: true } do |f|
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control border-input'
  .row
    .col-md-4
      .form-group
        = f.label :background_image
        = f.file_field :background_image, class: 'border-input'
        = f.hidden_field :background_image_cache
    .col-md-4
      .form-group
        = image_tag(@letter_image_template.background_image.preview, class: 'img-thumbnail') if @letter_image_template.background_image.present?

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary'