- content_for(:lk_title_page) { t('gifts') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('letter_image_templates')
            .pull-right
              = link_to t('add_letter_image_template'), new_lk_letter_image_template_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :name_cont, class: 'form-control border-input', placeholder: t('search_by_name')

      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, LetterImageTemplate.human_attribute_name(:id), default_order: :asc)
              
              th= sort_link(@q, :name, LetterImageTemplate.human_attribute_name(:name), default_order: :asc)
              
              th= LetterImageTemplate.human_attribute_name(:background_image)
              th
          tbody
            - @letter_image_templates.each do |letter_image_template|
              tr
                td= letter_image_template.id
                
                td= link_to letter_image_template.name, edit_lk_letter_image_template_path(letter_image_template)
                
                td= image_tag(letter_image_template.background_image.thumb)
                
                td= link_to t('destroy'), lk_letter_image_template_path(letter_image_template), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @letter_image_templates