- content_for(:lk_title_page) { t('add_letter_image_template') }

.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= t('add_letter_image_template')
        .pull-right
          = link_to t('back'), lk_letter_image_templates_path, class: 'btn btn-default btn-sm'
      .content
        = render 'form'
