.nested-fields
  .field
    .preview_image
      = image_tag(f.object.image, class: 'ui small image') if f.object.image.present?
    = f.label :image, class: 'ui icon button', style: 'width: 150px; margin-top: 5px;' do
      i.file.icon
      = t('add_image')
    = f.file_field :image, style: 'display: none;', class: 'letter_image'
    - if f.object.errors[:image].any?
      p= f.object.errors[:image].first
    = f.hidden_field :image_cache
    = link_to_remove_association t('remove_image'), f, class: 'button blue mini ui'
  hr