- set_meta_tags title: 'Написать письмо деду морозу в великий устюг 2018', site: ''
- set_meta_tags description: 'Написать письмо деду морозу в великий устюг 2018'


.snowflake
  .letter_blue_bar
    h2.letter_header.white.centered Написать письмо деду морозу в великий устюг 2018

  #letter_envelope
    .ui.stackable.grid.container
      = image_tag('print.png', id: "top_mark")
      = image_tag('deer_mark.png', id: "bottom_mark")

      = form_for @letter ||= Letter.new,
              url: napisat_pismo_dedu_morozu_v_velikiy_ustyug_2018_path,
              method: :post,
              html: { class: 'ui form row', multipart: true } do |f|

        .six.wide.column
          .field
            = f.text_field :name, placeholder: "Твое имя", class: 'rounded_border'

          .field
            = f.select :age, options_for_select((1..100)), {}, class: 'ui dropdown rounded_border'

          .field.letter_city class=('error' if @letter.errors[:city].any?)
            = f.text_field :city, placeholder: t('city')

          .field class=('error' if @letter.errors[:email].any?)
            = f.text_field :email, placeholder: "E-mail", class: 'rounded_border'

          button.ui.button.blue.blue_button(style='float: right;')
            p.white.text ОТПРАВИТЬ

        .ten.wide.column
          .field.letter_border class=('error' if @letter.errors[:text].any?)
            = f.text_area :text, value: (@letter.text.present? ? @letter.text : 'Здравствуй, дорогой Дедушка Мороз!'), placeholder: "Здравствуй, дорогой Дедушка Мороз!", class: 'letter_text_area'

          br

          .ui.checkbox style="background: #fff"
            = f.check_box :published, checked: 'checked'
            label Разрешить опубликовать мое письмо на сайте

          #letter_images(style='margin-top: 10px;')
            = f.fields_for :letter_images do |letter_image|
              = render 'letter_image_fields', f: letter_image
            .links
              = link_to_add_association t('add_image'), f, :letter_images, class: 'button red mini ui'


  .ui.container.grid.stackable
    .row
      .four.wide.column
        = image_tag("girl.png", class: "ui image")
        br
        = image_tag("girl.png", class: "ui image")

      .twelve.wide.column
        h3.letter_header.light_blue.centered письма, отправленные деду морозу
        = render partial: 'shared/letter', collection: @letters, as: :letter
