<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <h4 class="title"><%= t('users') %></h4>
            </div>
            <div class="pull-right">
                <%= search_form_for @q, url: lk_users_path do |f| %>
                <%= f.search_field :orders_customer_phone_or_email_or_orders_customer_name_cont, placeholder: "Email, имя, телефон", class: 'form-control border-input' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>Имя</th>
              <th><%= sort_link(@q, 'orders_customer_phone', "Телефон", default_order: :desc) %></th>
              <th><%= sort_link(@q, :created_at, "Дата регистрации", default_order: :desc) %></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.try(:email) %></td>
                <td>
                  <% if user.orders.any? %>
                    <%= user.orders.first.try(:customer_name) %>
                  <% end %>
                </td>
                <td>
                  <% if user.orders.any? %>
                    <%= user.orders.first.try(:customer_phone) %>
                  <% end %>
                </td>
                <td>
                  <%= l(user.created_at, format: :long) %>
                </td>
              </tr>
            <% end %>  
          </tbody>
        </table> 
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-12 text-center">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>