<hr>
<%= form_for [:lk, @order] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Подарки</label>
        <%= f.collection_check_boxes(:gift_ids, Gift.all, :id, :name, include_hidden: false) do |gift| %>
          <div class="checkbox">              
              <%= gift.object.name + "(#{gift.object.new_price}руб.)" %>
              <%= gift.check_box %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :for_whom_letter %>
        <%= f.select :for_whom_letter, options_for_select(
          Order::FOR_WHOM_LETTER.map { |letter| [letter[:title], letter[:title]] }
        ), {}, { class: 'form-control' } %>
        <% if f.object.errors[:for_whom_letter].any? %>
          <p class="help-block">
            <%= f.object.errors[:for_whom_letter].first %>
          </p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :names %>
        <%= f.text_field :names, class: 'form-control' %>
        <% if f.object.errors[:names].any? %>
          <p class="help-block">
            <%= f.object.errors[:names].first %>
          </p>
        <% end %>
      </div>
      
    </div>    
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :address_on_the_envelope %>
          <%= f.text_area :address_on_the_envelope, class: 'form-control' %>
        </div>
      </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :customer_name %>
        <%= f.text_field :customer_name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :customer_phone %>
        <%= f.text_field :customer_phone, class: 'form-control' %>
        <% if f.object.errors[:customer_phone].any? %>
          <p class="help-block">
            <%= f.object.errors[:customer_phone].first %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :customer_email %>
        <%= f.text_field :customer_email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :delivery_type %>
      <% Order::DELIVERY_TYPE_LIST.each do |type| %>          
        <div class="radio">
          <%= f.label :delivery_type do %>
            <%= f.radio_button :delivery_type, type %>              
            <%= t("delivery_types.#{type}") %>
          <% end %>
        </div>
      <% end %>
      <% if f.object.errors[:delivery_type].any? %>
        <p class="help-block">
          <%= f.object.errors[:delivery_type].first %>
        </p>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :city_id %>
        <%= f.select(:city_id, options_for_select(City.all.map { |city| [city.title, city.id] }, f.object.city_id), 
                              {}, { class: 'form-control' }) %>
        <% if f.object.errors[:city_id].any? %>
          <p class="help-block">
            <%= f.object.errors[:city_id].first %>
          </p>
        <% end %>
      </div>
    </div>    

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :delivery_address_id %>
        <%= f.select(:delivery_address_id, 
          options_for_select(f.object.city.delivery_addresses.map { |address| 
            [address.address, address.id] 
          }, f.object.delivery_address), {}, { class: 'form-control' }) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :user_address %>
        <%= f.text_area :user_address, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

<script defer>
  $(document).on('ready', function() {
    // variables
    var host = ''
    var current_host = window.location.host
    if (current_host == 'location:3000') {
        host = 'http://' + current_host
    } else if (current_host == 'f121.ru') {
        host = 'https://' + current_host
    }

    // init
    loadDeliveryAddress()

    $('#order_city_id').on('change', function() {      
      loadDeliveryAddress()
    })

    function loadDeliveryAddress() {
      $('#order_delivery_address_id').empty()
      var city_id = $('#order_city_id').val();
      fetch(host + '/api/cities/'+ city_id + '/delivery_addresses')
        .then(function(response) {
          return response.json()
        }).then(function(data) {
          $.each(data, function(i, item) {
            $('#order_delivery_address_id').append('<option value="' + item.id + '">'+ item.address +'</option>')
          });
        })
    }
  })
</script>
<!-- hr
= form_for [:lk, @faq ||= Faq.new], html: { multipart: true } do |f|
  .row
    .col-md-12
      .form-group
        = f.label :question
        = f.text_field :question, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.label :answer
        = f.text_area :answer, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.label :number_sort
        = f.number_field :number_sort, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary' -->