<% content_for(:lk_title_page) { "Редактировать заказ номер #{@order.id}" } %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="pull-left">
          Редактировать заказ #<%= @order.id %>
        </div> 
        <div class="pull-right">
          <%= link_to 'Вернуться к заказам', lk_orders_path, class: 'btn btn-default btn-sm' %>  
        </div> 
      </div>
      <div class="content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<!-- 
.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= t('edit_question_answer')
        .pull-right
          = link_to t('back'), lk_faqs_path, class: 'btn btn-default btn-sm'
      .content
        = render 'form' -->

