- content_for(:lk_title_page) { t('orders') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('orders')
        hr
        .row
          .col-md-12
            .pull-right
              /= search_form_for [:lk, @q] do |f|
              /  = f.search_field :title_cont, class: 'form-control border-input', placeholder: t('search_by_name')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, Order.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :customer_name, Order.human_attribute_name(:customer_name), default_order: :asc)
              th= sort_link(@q, :customer_phone, Order.human_attribute_name(:customer_phone), default_order: :asc)
              th= sort_link(@q, :customer_email, Order.human_attribute_name(:customer_email), default_order: :asc)
              th= sort_link(@q, 'city.title', Order.human_attribute_name(:city_id), default_order: :asc)
              th= sort_link(@q, 'delivery_address.address', DeliveryAddress.human_attribute_name(:address), default_order: :asc)
              th= sort_link(@q, :created_at, Order.human_attribute_name(:created_at), default_order: :desc)
              th
          tbody
            - @orders.each do |order|
              tr
                td= link_to order.id, lk_order_path(order)
                td= link_to order.customer_name, lk_order_path(order)
                td= order.customer_phone
                td= order.customer_email
                td= order.city.title
                td= order.delivery_address.try(:address)
                td= l(order.created_at, format: :long)
                td
                  => link_to "Редактировать", edit_lk_order_path(order), class: "btn btn-warning btn-sm"
                  => link_to "Печатать", '#', class: "btn btn-primary btn-sm", onclick: 'window.print();return false;'  
                  = link_to 'Удалить', lk_order_path(order), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @orders