.row
  .col-md-12
    .card
      .header
        .pull-right
          = link_to t('edit'), edit_lk_order_path(@order), class: 'btn btn-warning btn-sm'
          = link_to t('back'), lk_orders_path, class: 'btn btn-default btn-sm'
      br
      .content.table-responsive.table-full-width
        table.table.table-bordered
          tbody
            tr
              td= Order.human_attribute_name(:id)
              td= @order.id
            tr
              td= Order.human_attribute_name(:for_whom_letter)
              td= @order.for_whom_letter
            tr
              td= Order.human_attribute_name(:names)
              td= @order.names
            tr
              td= Order.human_attribute_name(:note)
              td= @order.note
            tr
              td= Order.human_attribute_name(:address_on_the_envelope)
              td= @order.address_on_the_envelope
            tr
              td= Order.human_attribute_name(:customer_name_admin)
              td= @order.customer_name
            tr
              td= Order.human_attribute_name(:customer_phone_admin)
              td= @order.customer_phone
            tr
              td= Order.human_attribute_name(:customer_email_admin)
              td= @order.customer_email
            tr
              td= Order.human_attribute_name(:city_id)
              td= @order.city.title
            tr
              td= Order.human_attribute_name(:delivery_type)
              td= humanize_delivery_type(@order.delivery_type)
            - if @order.delivery_type == 'self'
              tr
                td= Order.human_attribute_name(:delivery_address_id)
                td= @order.delivery_address.try(:address)
            - if @order.delivery_type != 'self'
              tr
                td= Order.human_attribute_name(:user_address)
                td= @order.try(:user_address)
            - if @order.gifts.any?
              td= Order.human_attribute_name(:gifts)
              td
                ul
                  - @order.gifts.each do |gift|
                    li
                      span=> gift.name
                      strong=< "(#{gift.new_price})"
                h5= "Сумма - #{@order.total_price} #{('+ ' + @order.city.km_price.to_s + 'руб. за км.') if @order.delivery_type == 'out_city'}"

              /td= link_to order.id, lk_order_path(order)
              /td= link_to order.customer_name, lk_order_path(order)
