$('.feedback-container .feedback').html('<i class="fa fa-close icon icon-cancel"></i><h2>Ваш заказ принят. Мы вам свяжемся в ближайшее время.</h2>')
$('.icon-cancel').on('click', function () {
  $('.feedback-container').css('display', 'none')
});

$('.btn-order').remove();