<section class="page-404">
    <!-- start page-404-->
    <div class="page-404__main">
      <div class="container">
        <div class="title-404">
          <h2 class="page-404__title">Страница не найдена</h2>
        </div>
        <div class="page-404__img"><img class="img-404" src="<%= image_path('img/works/404.png') %>" alt="404"></div>
      </div>
    </div>
    <!--end page-404-->
</section>