<h3>Номер вашего заказа <strong>#<%= @order.id %></strong></h3>

-----
Подробности
-----
<p>Для кого письмо: <strong><%= @order.try(:for_whom_letter) %></strong></p>
<p>Кого поздравляем: <strong><%= @order.try(:names) %></strong></p>
<p>Примичание к письму: <strong><%= @order.try(:note) %></strong></p>
<p>Адрес на конверте: <strong><%= @order.try(:address_on_the_envelope) %></strong></p>

-----
Ваши подарки
-----
<ul>
    <% @order.gifts.each do |gift| %>
        <li>
            <%= gift.name %>
        </li>
    <% end %>
</ul>

-----
Ваши контакты
-----
<p>Ваше имя: <strong><%= @order.customer_name %></strong></p>
<p>Ваш телефон:<strong> <%= @order.customer_phone %></strong></p>
<p>Ваш email: <strong><%= @order.customer_email %></strong></p>
<p>Указанный город: <strong><%= @order.city.title %></strong></p>

<% if @order.delivery_address.present? && @order.delivery_type == 'self' %>
    <p>Адрес самовывоза: <strong><%= @order.delivery_address.address %></strong></p>
    <p>Дополнительная информация: <strong><%= simple_format(@order.delivery_address.tech_description) %></strong></p>
<% end %>

<% if @order.delivery_type != 'self' %>
    <p>Адрес доставки: <strong><%= @order.user_address %></strong></p>
<% end %>



-----
<strong>Сумма</strong>
-----
<p>
  <%= "Сумма - #{@order.total_price} #{('+ ' + @order.city.km_price.to_s + 'руб. за км.') if @order.delivery_type == 'out_city'}" %>
</p>