doctype html
html
  head
    title= t('brand')
    = csrf_meta_tags

    = stylesheet_link_tag    'lk/application', media: 'all'
    = javascript_include_tag 'lk/application'

    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Muli:400,300'
  body
    .wrapper
      = render 'lk/layouts/shared/sidebar'
      .main-panel
        = render 'lk/layouts/shared/navbar'
        .content
          .container-fluid
            = yield
      / footer
