hr
= form_for [:lk, @letter_text_template] do |f|
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control border-input'
  .row
    .col-md-10
      .form-group
        = f.label :text
        = f.text_area :text, class: 'form-control border-input', rows: 20

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary'