- content_for(:lk_title_page) { t('gifts') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('letter_text_templates')
            .pull-right
              = link_to t('add_letter_text_template'), new_lk_letter_text_template_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :name_cont, class: 'form-control border-input', placeholder: t('search_by_name')

      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, LetterTextTemplate.human_attribute_name(:id), default_order: :asc)

              th= sort_link(@q, :name, LetterTextTemplate.human_attribute_name(:name), default_order: :asc)

              th= LetterTextTemplate.human_attribute_name(:text)
              th
          tbody
            - @letter_text_templates.each do |letter_text_template|
              tr

                td= letter_text_template.id

                td= link_to letter_text_template.name, edit_lk_letter_text_template_path(letter_text_template)

                td= truncate(simple_format(letter_text_template.text))

                td= link_to t('destroy'), lk_letter_text_template_path(letter_text_template), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @letter_text_templates
