hr
= form_for [:lk, @congratulation], html: { multipart: true } do |f|
  .row
    .col-md-4
      .form-group
        = f.label :name, Congratulation.human_attribute_name(:name)
        = f.text_field :name, class: 'form-control border-input', id: 'name_of_congratulation' 
      .form-group
        = f.label :letter_image_template_id, Congratulation.human_attribute_name(:letter_image_template_id)
        = f.collection_select :letter_image_template_id, LetterImageTemplate.all, :id, :name, {include_blank: false, prompt: t('choose_letter_image_template')}, { class: 'form-control', id: 'image_template_id' }

      .form-group
        = f.label :letter_text_template_id, Congratulation.human_attribute_name(:letter_text_template_id)
        = f.collection_select :letter_text_template_id, LetterTextTemplate.all, :id, :name, {include_blank: false, prompt: t('choose_letter_text_template')}, { class: 'form-control', id: 'text_template_id' }

    .col-md-8
      .form-group
        = f.label :text, Congratulation.human_attribute_name(:text)
        = f.text_area :text, class: 'form-control border-input', id: 'text_form', rows: 20

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary'

        button.btn.btn-info class="#{@congratulation.new_record? ? 'hidden_button' : ''}" type="button" data-toggle="modal" data-target="#previewCongratulation" id="preview_button"
          = t('preview')
