- content_for(:lk_title_page) { t('congratulations') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('congratulations')
            .pull-right
              = link_to t('add_congratulation'), new_lk_congratulation_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :name_cont, class: 'form-control border-input', placeholder: t('search_by_name')

      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, Congratulation.human_attribute_name(:id), default_order: :asc)

              th= sort_link(@q, :name, Congratulation.human_attribute_name(:name), default_order: :asc)

              th= Congratulation.human_attribute_name(:letter_image_template_id)

              th= Congratulation.human_attribute_name(:letter_text_template_id)

              th= Congratulation.human_attribute_name(:text)

              th
          tbody
            - @congratulations.each do |congratulation|
              tr
                td= congratulation.id
                td= link_to congratulation.name, edit_lk_congratulation_path(congratulation)

                td= congratulation.letter_image_template.name

                td= congratulation.letter_text_template.name

                td= truncate(simple_format(congratulation.text))

                td.centered
                  = link_to t('download_pdf'), lk_congratulation_path(congratulation, format: 'pdf'), class: 'btn btn-primary btn-sm'
                  hr
                  = link_to t('destroy'), lk_congratulation_path(congratulation), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @congratulations
