= javascript_tag do
  | window.rootUrl = "#{ENV['default_host']}/";

- content_for(:lk_title_page) { t('add_congratulation') }

.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= t('add_congratulation')
        .pull-right
          = link_to t('back'), lk_congratulations_path, class: 'btn btn-default btn-sm'
      .content
        = render 'form'

#previewCongratulation.modal.fade role="dialog"
  .modal-dialog
    .modal-content
      #modal_header.modal-header

      #preview_body.modal-body

      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button" = t('close')
