.background_congratulation style="background: url(#{image_url(@congratulation.letter_image_template.background_image.url)}) 100% 100% no-repeat"
  .text_congratulation
    p = simple_format @congratulation.text
