/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require slick
 *= require slick-theme
 *= require fonts
 *= require_self
 */

$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
$font-name: 'Open Sans' !default;
$font-family: $font-name;

@import "semantic-ui";
@import "selectize";
@import "errors";

.order_error_title {
  color: #ff1370;
}


//////////////////////////
// Fonts   /////////
@media screen and (max-width: 766px) {
  .big {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .number {
    font-size: 2.7em
  }
}

@media screen and (min-width: 766px) {
  .big {
    font-size: 2.7em;
  }

  .number {
    font-size: 5em
  }
}

.santa_header, .main_price {
  font-family: 'malina'
}

.santa_header {
  &.centered {
    margin-bottom: 50px
  }
}

.main_price {
  font-size: 2em
}

.text {
  font-size: 1.2em
}

.thin {
  font-weight: 400 !important
}

.step_header, .number {
  font-weight: 600
}

.step_header {
  color: #6e6e6e
}

.white {
  color: #fff
}

.blue {
  color: #143e56
}

.light_blue {
  color: #247ABE
}

.grey {
  color: #acacac
}
////////////////////////////////
///// Home Page /////////////////

.step_image {
  height: 100px;
  margin: 0 auto
}

.circle_button {
  border-radius: 30px !important;
}


// PRICES
.bordered_price {
  border-left: 5px solid #143e56;
  border-right: 5px solid #143e56;
}

.bordered_image {
  border: 10px solid #fff
}

.column_price {
  padding: 40px 0 !important;
}

.centered {
  text-align: center
}

.image_on_landing {
  height: 370px
}

.landing_block {
  padding:  90px 0 !important;
}

.inline {
  display: inline-block !important
}


// Background
.village {
  background: image-url('village.png') 100% 100% no-repeat;
  background-size: cover
}

.snow {
  background: image-url('snow.png') 100% 100% no-repeat;
  background-size: cover
}

.snowflake {
  background: image-url('snowflake.png') repeat
}

.stars {
  background: image-url('stars.png') 100% 100% no-repeat;
  background-size: cover
}

.deer {
  background: image-url('deer.png') 100% 100% no-repeat;
  background-size: cover;
  position: relative !important;
}

// Slides
.slick-slide {
  margin: 0 5px
}

.slide {
  background: #fff;
  min-width: 200px
}

#carousel {
  position: relative
}

.prev_arrow, .next_arrow {
  position: absolute;
  top: 40%;
  z-index: 2;
  cursor: pointer;
  color: #f0f0f0
}

.prev_arrow:hover, .next_arrow:hover {
  color: #fff
}

.next_arrow {
  right: -65px
}

.prev_arrow {
  left: -65px
}


// Present
.wide {
  width: 100%
}

.present_desc {
  background: #f9f9f9;
  padding-top: 20px;
  height: 100px
}

.add_button {
  background: #3eb5f1 !important;
  padding: 20px 0 !important;
  border-radius: 0 !important
}

.add_button:hover {
  background: #0c73a6 !important
}

.present_image {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 140px
}

.present_image_block {
  position: relative
}

.present_image_block:after {
  content: "";
  display: block;
  padding-bottom: 100%
}

// Answers
.answers {
  display: none
}
//////////////////////////////////////////



//////////////////////////////////////////
// Order (Form with steps)  /////////////////
.checkbox_order_field {
  margin: 15px 0
}

.order_step {
  padding: 30px 0 !important
}

.tab {
  padding: 0 !important;
  display: none;
  &.display-show {
    display: block
  }
}


// Tabs
.order_form, #tabs, #tabs .ui-tabs-nav, #tabs .ui-widget-header .ui-state-default {
  background: none !important
}

#tabs, #tabs .ui-tabs-nav, #tabs .ui-widget-header .ui-state-default {
  border: none
}

#tabs .ui-tabs-nav {
  text-align: center
}

#tabs .ui-tabs-nav li {
  display: inline-block
}

 #tabs .ui-tabs-nav, #tabs .ui-tabs-nav li, #tabs .ui-tabs-nav li a {
  float: none;
}

.tab_button, #tabs .ui-state-default a {
  outline: 0;
  -moz-outline-style: none;
}

#tabs .ui-state-default a {
  color: #acacac;
}

.tab_button {
  width: 25%;
  margin: 25px 0 0 0 !important
}

#tabs .ui-state-default a:hover, #tabs .ui-state-active a {
  color: #368ada
}

// SnowFlake in tab
.progressBar {
  margin-top: 25px;
  height: 30px;
  position: relative;
  overflow: hidden
}

#snowflake, .active_tab_nav{
  position: absolute;
  background: #368ada
}

#snowflake {
  left: 11.5%;
  border-radius: 50%;
  padding: 2px;
  z-index: 2
}

.active_tab_nav {
  left: -88%;
  top: 13px;
  height: 3px;
  z-index: 1
}

.passive_tab_nav {
  background: #f0f0f0;
  margin-top: 13px;
  height: 3px
}
/////

.order_step_button {
  padding: 15px 60px !important;
  margin: 0 30px 30px 0 !important;
}


.delivery_area {
  max-width: 600px;
  width: 100%;
}

.left_margin {
  margin-left: 25px !important;
}

.margin_big {
  margin: 0 25px 10px 25px !important;
}

.order_buttons {
  border-top: 3px solid #f0f0f0
}

.order_background {
  background: #fffcf4
}

.order_label {
 margin-left: 20px !important;
 border-radius: 30px !important
}

.letter_type {
  text-align: center;
  vertical-align: top !important;
  border-radius: 10px !important;
  margin: 0 20px 20px 0 !important;
  padding: 30px 0 20px 0;
  height: 160px;
  width: 190px;
  display: inline-block
}

.letter_disabled {
  opacity: .5
}

.letter_type_image {
  width: 60px;
  margin: 0 auto
}

.hidden_image, .delivery_address {
  display: none
}

#your_region, .region_link:hover {
   text-decoration: underline
}

//Hide NAVbar tabs (mobile)
@media screen and (max-width: 766px) {
  ul {
    display: none
  }
}

@media screen and (min-width: 766px) {
  ul {
    display: block;
  }
}

.order_form {
  border: 1px solid #a9a9a9 !important;
}
/////////////////////////////////////////


//////////////////////////////////////////
//// Letter page    //////////////////////
.letter_header {
  font-family: 'rounds_black'
}

.letter, #letter_envelope {
  background: #fff
}

// Top Blue Bar
.letter_blue_bar {
  padding: 20px 0 20px 0;
  background: #247ABE;
  margin-bottom: 25px
}

//letter of user
.letter {
  border: 2px dashed #247abe;
  border-radius: 10px;
  margin: 30px 0;
  padding: 10px
}

.letter_text {
  text-align: justify;
  margin-top: 10px
}


// Envelope
#letter_envelope {
  margin: 0 30px 50px 30px;
  padding: 95px 0;
  box-shadow: 0 5px 10px 2px rgba(0,0,0,0.2);
  position: relative
}

//MARKS on envelope
#top_mark, #bottom_mark {
  position: absolute;
  right: 15px;
}

#top_mark {
  top: 0
}

#bottom_mark {
  bottom: 20px;
  width: 150px
}

.rounded_border {
  border-radius: 30px !important
}

.rectangle_border {
  border-radius: 0 !important
}

// SELECTIZE BORDER RADIUS
.letter_city .selectize-control .selectize-input {
  border-radius: 30px;
  padding-left: 15px
}

.letter_city .selectize-control {
  border: none
}

.ui.dropdown, .default.text {
  font-size: 13px !important
}

.letter_name {
  display: inline-block;
  margin: 0 10px 0 0
}

.letter_meta {
  white-space: nowrap
}

.letter_text_area {
  min-height: 300px !important;
  border: none !important;
  background: #F9F9F9 !important
}

// Center Placeholder in textarea form letter

.letter_text_area::-webkit-input-placeholder {
  text-align:center
}

.letter_text_area:-moz-placeholder {
  text-align:center
}

.letter_text_area:-ms-input-placeholder {
  text-align:center
}

.letter_border {
  border-style: solid;
  border-width: 11px;
  -moz-border-image: image-url('frame.png') 11 stretch;
  -webkit-border-image: image-url('frame.png') 11 stretch;
  -o-border-image: image-url('frame.png') 11 stretch;
  border-image: image-url('frame.png') 11 stretch;
}
//// SIDEDBAR ////////
.santa_sidebar {
  z-index: 6 !important
}
///////////////////////

//// FOOTER ///////////////

#circle_footer {
  position: relative !important;
  background: #225e95;
  height: 37px;
}

.santa_footer {
  background: #255187 !important;
  z-index: 4;
  padding: 60px 0 !important;
}

#blue_circle, #light_blue_circle {
  height: 74px;
  position: absolute !important;
}

#blue_circle {
  background: image-url('blue_circle.svg') 100% 100% repeat-x;
  z-index: 3;
  bottom: -37px;
}

#light_blue_circle {
  background: image-url('light_blue_circle.svg') 100% 100% repeat-x;
  z-index: 2;
  top: -40px
}

@media screen and (min-width: 766px) {
  .social {
    text-align: right
  }

  .center_button {
    text-align: center
  }
}
////////////////////////////////////////////
