.top_header {
  position: relative;
  z-index: 2;
  height: 60%
}

.block_404 {
  width: 260px
}

.block_thank_you {
  width: 100%;
  max-width: 430px;
}

.red_block {
  top: -90px;
  position: absolute !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 100%;
  z-index: 5;
  background: #FF4C33;
  color: #fff;
  font-weight: 900;
  &.big {
    font-size: 7.5em;
    padding: 20px;
  }
  &.small {
    padding: 25px;
  }
}

.deer_image {
  position: absolute !important;
  left: 0;
  right: 0;
  top: -410px;
  margin: 0 auto;
}

.deer_thank_you {
  width: 420px
}

.deer_404 {
  width: 480px
}

.full_height {
  height: 100%
}

.arrow_footer {
  margin-right: 20px
}

.footer_button:hover {
  color: #000 !important
}

#message {
  width: 150px;
  position: absolute;
  top: 0;
  right: 0
}

.top_header .grey.centered {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 1.3
}

// Responsive
@media screen and (min-width: 766px) {
  .footer_bottom {
    position: absolute;
    bottom: 0
  }

  .red_block.small {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 766px) {
  .deer_image {
    display: none
  }

  .red_block.small {
    font-size: 2em
  }
}
