@font-face {
    font-family: 'malina';
    src: asset-url('malina.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'rounds_black';
    src: asset-url('rounds_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}
