h2 Ваши заказы

- if @orders.any?
  table.ui.celled.table
    thead
      th Номер заказа
      th Подарки
      th Время заказа
    tbody
      - @orders.each do |order|
        tr
          td= link_to order.id, cabinet_order_path(order)
          td= link_to order.gifts.pluck(:name).join(', '), cabinet_order_path(order)
          td= link_to l(order.created_at, format: :long), cabinet_order_path(order)

