h2 Заказ номер: #{@order.id}

table.ui.celled.table
  tbody
    tr
      td= Order.human_attribute_name(:id)
      td= @order.id
      tr
        td= Order.human_attribute_name(:for_whom_letter)
        td= @order.for_whom_letter
      tr
        td= Order.human_attribute_name(:names)
        td= @order.names
      tr
        td= Order.human_attribute_name(:note)
        td= @order.note
      tr
        td= Order.human_attribute_name(:address_on_the_envelope)
        td= @order.address_on_the_envelope
      tr
        td Ваше имя
        td= @order.customer_name
      tr
        td Ваш Телефон
        td= @order.customer_phone
      tr
        td= Order.human_attribute_name(:city_id)
        td= @order.city.title
      tr
        td= DeliveryAddress.human_attribute_name(:address)
        td= @order.delivery_address.try(:address)
      - if @order.gifts.any?
        td= Order.human_attribute_name(:gifts)
        td
          ul
            - @order.gifts.each do |gift|
              li
                span=> gift.name
                strong=< "(#{gift.new_price})"
          h5= "Сумма - #{@order.gifts.sum(:new_price)}"