- content_for(:lk_title_page) { t('letters') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('letters')
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :name_or_email_or_city_cont, class: 'form-control border-input', placeholder: t('search_by_name_or_email_or_city')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, Letter.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :name, Letter.human_attribute_name(:name), default_order: :asc)
              th= sort_link(@q, :email, Letter.human_attribute_name(:email), default_order: :asc)
              th= sort_link(@q, :age, Letter.human_attribute_name(:age), default_order: :asc)
              th= sort_link(@q, :text, Letter.human_attribute_name(:text), default_order: :asc)
              th= sort_link(@q, :city, Letter.human_attribute_name(:city), default_order: :asc)
              th= sort_link(@q, :published, Letter.human_attribute_name(:published), default_order: :asc)
              th= sort_link(@q, :letter_images, Letter.human_attribute_name(:letter_images), default_order: :asc)
          tbody
            - @letters.each do |letter|
              tr
                td= letter.id
                td= link_to letter.name, lk_letter_path(letter)
                td= link_to letter.email, lk_letter_path(letter)
                td= letter.age
                td= truncate(letter.text, length: 60)
                td= letter.city
                td= humanize_boolean(letter.published)
                td= letter.letter_images.count
      .content
        .row
          .col-md-12.text-center
            = paginate @letters