- content_for(:lk_title_page) { @letter.email }

.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= @letter.email
        .pull-right
          = link_to t('back'), lk_letters_path, class: 'btn btn-default btn-sm'
      br
      .content.table-responsive.table-full-width
        table.table.table-striped
          tbody
            tr
              td= Letter.human_attribute_name(:id)
              td= @letter.id
            tr
              td= Letter.human_attribute_name(:name)
              td= @letter.name
            tr
              td= Letter.human_attribute_name(:email)
              td= @letter.email
            tr
              td= Letter.human_attribute_name(:age)
              td= @letter.age
            tr
              td= Letter.human_attribute_name(:text)
              td= @letter.text
            tr
              td= Letter.human_attribute_name(:city)
              td= @letter.city
            tr
              td= Letter.human_attribute_name(:published)
              td= humanize_boolean(@letter.published)
            - if @letter.letter_images.any?
              tr
                td= Letter.human_attribute_name(:letter_images)
                td
                  - @letter.letter_images.each do |letter_image|
                    = image_tag(letter_image.image, class: 'img-thumbnail', style: 'height: 150px')
