hr
= form_for [:lk, @faq ||= Faq.new], html: { multipart: true } do |f|
  .row
    .col-md-12
      .form-group
        = f.label :question
        = f.text_field :question, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.label :answer
        = f.text_area :answer, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.label :number_sort
        = f.number_field :number_sort, class: 'form-control border-input'

  .row
    .col-md-12
      .form-group
        = f.submit t('save'), class: 'btn btn-primary'