- content_for(:lk_title_page) {t('edit_question_answer')}

.row
  .col-md-12
    .card
      .header
        .pull-left
          h4.title= t('edit_question_answer')
        .pull-right
          = link_to t('back'), lk_faqs_path, class: 'btn btn-default btn-sm'
      .content
        = render 'form'