- content_for(:lk_title_page) { t('faqs') }

.row
  .col-md-12
    .card
      .header
        .row
          .col-md-12
            .pull-left
              h4.title= t('faqs')
            .pull-right
              = link_to t('add_question_answer'), new_lk_faq_path, class: 'btn btn-success btn-sm'
        hr
        .row
          .col-md-12
            .pull-right
              = search_form_for [:lk, @q] do |f|
                = f.search_field :question_cont, class: 'form-control border-input', placeholder: t('search_by_question')
      .content.table-responsive.table-full-width
        table.table.table-striped
          thead
            tr
              th= sort_link(@q, :id, Faq.human_attribute_name(:id), default_order: :asc)
              th= sort_link(@q, :question, Faq.human_attribute_name(:question), default_order: :asc)
              th= sort_link(@q, :answer, Faq.human_attribute_name(:answer), default_order: :asc)
              th
          tbody
            - @faqs.each do |faq|
              tr
                td= faq.id
                td= link_to faq.question, edit_lk_faq_path(faq)
                td= truncate(faq.answer, length: 80)
                td
                  td= link_to t('destroy'), lk_faq_path(faq), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('are_you_sure') }
      .content
        .row
          .col-md-12.text-center
            = paginate @faqs