.footer_bottom.wide
  #circle_footer.wide.centered
    - if (action_name == 'render_404')
      .deer_image.deer_404
        = image_tag '404/ox.png', id: 'message'
        = image_tag '404/404.gif', class: 'wide full_height'

      span.circle_button.red_block.big.block_404
        | 404

    - elsif (action_name == 'thank_for_order')
      = image_tag 'deer.gif', class:'deer_image deer_thank_you'

      span.circle_button.red_block.small.block_thank_you
        | Спасибо за заказ!


    #blue_circle.wide
    #light_blue_circle.wide

  .ui.vertical.footer.segment.santa_footer.wide

    .ui.stackable.grid.three.column.container
      .column
        p.white.text
          | МСК: +7(495) 125-10-69
          br
          | СПб: +7(911) 924-21-63

        p.white.text
          i.icon.copyright
          | f121.ru #{Time.now.year}

      .column.center_button
        = image_tag('arrow.png', class: 'arrow_footer')

        - if (action_name == 'render_404')
          = link_to(t('on_root_page'), root_path, class: 'ui button massive circle_button yellow footer_button')
        - elsif (action_name == 'thank_for_order')
          = link_to(t('order_plus'), new_order_path, class: 'ui button massive circle_button yellow footer_button')


      .column.social
        .ui.mini.images
          = link_to image_tag('vk.png'), 'http://vk.com/pismo_ot_deda_moroza7', target: '_blank'
          = link_to image_tag('ok.png'), 'http://ok.ru', target: '_blank'
          = link_to image_tag('facebook.png'), 'http://facebook.com', target: '_blank'
          = link_to image_tag('instagram.png'), 'http://instagram.com', target: '_blank'
          = link_to image_tag('youtube.png'), 'http://youtube.com', target: '_blank'

        p.white.text
          | info@f121.ru
