.footer.wide
  #circle_footer.wide
    #blue_circle.wide
    #light_blue_circle.wide

  .ui.vertical.footer.segment.santa_footer.wide
    .ui.stackable.grid.two.column.container
      .column
        p.white.text
          | МСК: +7(495) 125-10-69
          br
          | СПб: +7(911) 924-21-63

        p.white.text
          i.icon.copyright
          | f121.ru #{Time.now.year}

      .column.social
        .ui.mini.images
          = link_to image_tag('vk.png'), 'http://vk.com/pismo_ot_deda_moroza7', target: '_blank'
          = link_to image_tag('ok.png'), 'http://ok.ru', target: '_blank'
          = link_to image_tag('facebook.png'), 'http://facebook.com', target: '_blank'
          = link_to image_tag('instagram.png'), 'http://instagram.com', target: '_blank'
          = link_to image_tag('youtube.png'), 'http://youtube.com', target: '_blank'

        p.white.text
          | info@f121.ru
