.ui.sidebar.vertical.menu.inverted.santa_sidebar
  a.item onclick="jump('main')" = "Главная"
  a.item onclick="jump('delivery')" = "Доставка"
  a.item onclick="jump('paid')" = "Оплата"
  a.item onclick="jump('presents')" = "Подарки"
  a.item onclick="jump('faq')" = "FAQ"
  a.item onclick="jump('order')" = "Заказать"
  - if policy(:session).signed_in?
    = link_to t('cabinet'), cabinet_root_path, class: 'item'
  - if policy(:admin_session).current_user_is_admin?
    = link_to t('dashboard'), lk_root_path, class: 'item'
  - if policy(:session).sign_in?
    = link_to t('sign_in'), sign_in_path, class: 'item'
  - if policy(:session).logout?
    = link_to t('logout'), logout_path, method: :delete, class: 'item'
