doctype html
html[lang="ru"]
  head
    = csrf_meta_tags
    = display_meta_tags(default_meta_tags)
    = favicon_link_tag(asset_path('favicon.png'))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//vk.com/js/api/openapi.js?150'

    meta[charset="UTF-8"]
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    = javascript_include_tag '//vk.com/js/api/openapi.js?150'
    meta[name="google-site-verification" content="PgnG6IJYegiOUD7vhZu7o_PEMkfPf56bjtPlRH0RmPw"]
    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    = render 'layouts/sidebar'
    .pusher
      = yield
    /= render 'layouts/footer'

    = render 'shared/vk_community_widget'
    = render 'shared/yandex_metrika'
    = render 'shared/google_analytics'
