doctype html
html[lang="ru"]
  head
    = csrf_meta_tags
    = display_meta_tags(default_meta_tags)
    = favicon_link_tag(asset_path('favicon.png'))
    = stylesheet_link_tag 'santa_1_0/application', media: 'all'
    = javascript_include_tag 'santa_1_0/application'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"
    meta[charset="utf-8"]

    meta[name="google-site-verification" content="PgnG6IJYegiOUD7vhZu7o_PEMkfPf56bjtPlRH0RmPw"]
    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    = render 'layouts/santa_1_0/shared/navbar'
    = yield
    = render 'layouts/santa_1_0/shared/footer'

    = render 'shared/vk_community_widget'
    = render 'shared/shared_root_page'
    = render 'shared/yandex_metrika'
    = render 'shared/google_analytics'
    