doctype html
html
  head
    title= t('brand')
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//vk.com/js/api/openapi.js?150'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    = javascript_include_tag '//vk.com/js/api/openapi.js?150'
    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    .ui.container
      = render 'layouts/cabinet_navbar'
      .ui.segment
        = yield
    = render 'shared/yandex_metrika'
