doctype html
html
  head
    = csrf_meta_tags
    = display_meta_tags(default_meta_tags)
    = favicon_link_tag(asset_path('favicon.png'))
    = stylesheet_link_tag 'santa_1_0/application', media: 'all'
    = javascript_include_tag 'santa_1_0/application'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    = yield
    = render 'shared/yandex_metrika'