doctype html
html
  head
    = csrf_meta_tags
    = display_meta_tags(default_meta_tags)
    = favicon_link_tag(asset_path('favicon.png'))

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '//vk.com/js/api/openapi.js?150'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    = javascript_include_tag '//vk.com/js/api/openapi.js?150'
    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    = yield

    = render 'layouts/custom_footer'

    = render 'shared/vk_community_widget'
    = render 'shared/yandex_metrika'
