doctype html
html
  head
    title= t('brand')
    = csrf_meta_tags

    = stylesheet_link_tag    'gift_card/application', media: 'all'
    = javascript_include_tag 'gift_card/application'

    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="mobile-web-app-capable" content="yes"

    = javascript_include_tag '//vk.com/js/api/openapi.js?150'
    meta[name="yandex-verification" content="0e68ae6508f530ec"]
  body
    = yield
    = render 'shared/yandex_metrika'
